<div ui-view="shell"></div>
<style type="text/css">
    .cropArea {
        background: #E4E4E4;
        overflow: hidden;
        width: 500px;
        height: 350px;
    }

    form .progress {
        line-height: 15px;
    }

    .progress {
        display: inline-block;
        width: 100px;
        border: 3px groove #CCC;
    }

        .progress div {
            font-size: smaller;
            background: orange;
            width: 0;
        }
</style>
<div class="container main-container">
    <div class="row header-row">
        <div class="col l3 m4 s12">
            <h2>{{::authData.userName}}</h2>
        </div>
        <div class="col l1 m1 s1 offset-l8 offset-m7">
            <a ng-href="#" class="center">
                <i class="material-icons notification-icon">notifications</i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col m12">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/assets/img/login-background.jpg">
                    <img class="img responsive-img img-overlay" ng-src="{{ currentPhotoBase64 }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Edit profile<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                    <div class="row">
                        <div class="col l6">
                            <h5 class="card-title grey-text text-darken-4">Profile Photo</h5>
                            <div class="col m12">
                                <form name="profilePhotoForm">
                                    <div>Crop Image and Upload</div>
                                    <button ngf-select ng-model="tempPhoto" accept="image/*">
                                        Select Picture
                                    </button>
                                    <div ngf-drop ng-model="tempPhoto" ngf-pattern="image/*"
                                         class="cropArea">
                                        <img-crop image="tempPhoto | ngfDataUrl"
                                                  result-image="currentPhotoBase64">
                                        </img-crop>
                                    </div>
                                    <div>
                                        <img ng-src="{{ currentPhotoBase64 }}"/>
                                    </div>
                                    <span ng-show="result">Upload Successful</span>
                                    <span class="err" ng-show="errorMsg">{{ errorMsg }}</span>
                                </form>
                            </div>
                        </div>
                        <div class="col l6">
                            <h5 class="card-title grey-text text-darken-4">Account Info</h5>
                            <div class="col m12">
                                <form role="form" name="updateInfoForm" class="col s12" novalidate>
                                    <div class="input-field col s10 username">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input id="username"
                                               name="username"
                                               placeholder="Username"
                                               type="text"
                                               ng-model="profile.UserName"
                                               disabled />
                                    </div>
                                    <div class="input-field col s10 email">
                                        <i class="material-icons prefix">mail</i>
                                        <input id="email"
                                               name="email"
                                               placeholder="Email"
                                               type="email"
                                               ng-model="profile.Email"
                                               disabled />
                                    </div>
                                    <div class="input-field col s10 username">
                                        <i class="material-icons prefix">event</i>
                                        <input id="timestamp"
                                               name="timestamp"
                                               placeholder="Timestamp"
                                               type="text"
                                               ng-model="profile.Timestamp"
                                               disabled />
                                    </div>
                                    <div class="input-field col s10">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input id="name"
                                               name="name"
                                               placeholder="Name"
                                               type="text"
                                               ng-model="profile.Name" />
                                    </div>
                                    <div class="input-field col s10">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input id="surname"
                                               name="surname"
                                               placeholder="Surname"
                                               type="text"
                                               ng-model="profile.Surname" />
                                    </div>
                                    <div class="input-field col s10 account-type">
                                        <select name="gender" class="" material-select watch
                                                ng-model="profile.Gender">
                                            <option value="" disabled selected style="font-size: 10px;">Gender</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                    <br />
                                    <div class="col s12">
                                        <button class="btn waves-effect waves-notransition"
                                                ng-click="updateInfo(profile)"
                                                type="submit" name="action">
                                            SAVE
                                            <i class="material-icons right">save</i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Change password</span>
                    <form role="form" name="changePasswordForm" class="col s12" novalidate>
                        <div class="input-field col s10 password">
                            <i class="material-icons prefix">vpn_key</i>
                            <input ng-class="{ 'valid' : changePasswordForm.oldPassword.$touched && changePasswordForm.oldPassword.$valid, 'invalid' : changePasswordForm.oldPassword.$touched && changePasswordForm.oldPassword.$invalid }" id="oldPassword"
                                   name="oldPassword" placeholder="Old password" required type="password"
                                   ng-model="changePasswordVm.OldPassword"
                                   ng-minlength=8
                                   ng-maxlength=64
                                   password-verify="authData.password" />
                            <small class="validation" ng-show="changePasswordForm.oldPassword.$touched && changePasswordForm.oldPassword.$error.required">Old Password is required.</small>
                            <small class="validation" ng-show="changePasswordForm.oldPassword.$touched && changePasswordForm.oldPassword.$error.minlength">Old Password has to contain atleast 8 characters.</small>
                            <small class="validation" ng-show="changePasswordForm.oldPassword.$touched && changePasswordForm.oldPassword.$error.maxlength">Old Password cannot be more than 64 characters long.</small>
                            <small class="validation" ng-show="changePasswordForm.oldPassword.$error.passwordVerify">Old Password is not correct.</small>
                        </div>
                        <div class="input-field col s10 password">
                            <i class="material-icons prefix">vpn_key</i>
                            <input ng-class="{ 'valid' : changePasswordForm.newPassword.$touched && changePasswordForm.newPassword.$valid, 'invalid' : changePasswordForm.newPassword.$touched && changePasswordForm.newPassword.$invalid }" id="newPassword"
                                   name="newPassword" placeholder="New password" required type="password"
                                   ng-model="changePasswordVm.NewPassword"
                                   ng-minlength=8
                                   ng-maxlength=64 />
                            <small class="validation" ng-show="changePasswordForm.newPassword.$touched && changePasswordForm.newPassword.$error.required">New Password is required.</small>
                            <small class="validation" ng-show="changePasswordForm.newPassword.$touched && changePasswordForm.newPassword.$error.minlength">New Password has to contain atleast 8 characters.</small>
                            <small class="validation" ng-show="changePasswordForm.newPassword.$touched && changePasswordForm.newPassword.$error.maxlength">New Password cannot be more than 64 characters long.</small>
                        </div>

                        <div class="input-field col s10 password">
                            <i class="material-icons prefix">vpn_key</i>
                            <input ng-class="{ 'valid' : changePasswordForm.confirmNewPassword.$touched && changePasswordForm.confirmNewPassword.$valid, 'invalid' : changePasswordForm.confirmNewPassword.$touched && changePasswordForm.confirmNewPassword.$invalid }" id="password"
                                   name="confirmNewPassword" placeholder="Confirm new password" required type="password"
                                   ng-model="changePasswordVm.ConfirmPassword"
                                   ng-minlength=8
                                   ng-maxlength=64
                                   password-verify="changePasswordVm.NewPassword" />
                            <small class="validation" ng-show="changePasswordForm.confirmNewPassword.$touched && changePasswordForm.confirmNewPassword.$error.required">Confirm New Password is required.</small>
                            <small class="validation" ng-show="changePasswordForm.confirmNewPassword.$touched && changePasswordForm.confirmNewPassword.$error.minlength">Confirm New Password has to contain atleast 8 characters.</small>
                            <small class="validation" ng-show="changePasswordForm.confirmNewPassword.$touched && changePasswordForm.confirmNewPassword.$error.maxlength">Confirm New Password cannot be more than 64 characters long.</small>
                            <small class="validation" ng-show="changePasswordForm.confirmNewPassword.$error.passwordVerify">Password and Confirm Password have to be same.</small>
                        </div>

                        <div class="col s12">
                            <button class="btn waves-effect waves-light white-text"
                                    ng-disabled="changePasswordForm.$invalid || changePasswordForm.$pristine"
                                    ng-click="changePassword(changePasswordVm)"
                                    type="submit" name="action">
                                SAVE
                                <i class="material-icons right">save</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>