<div ui-view="shell"></div>
<div class="container main-container">
    <div class="login-register-container">
        <div class="row header-row">
            <div class="col l3 m4 s12">
                <h2>{{profile.UserName}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col l12">
                <div class="card">
                    <img ng-src="{{profile.ProfilePhoto.Url}}" src="/assets/img/login-account-icon.png" class="login-icon" />
                </div>
            </div>
        </div>
    </div>
</div>