<div ui-view="shell"></div>

<div class="container main-container notifications">
    <div class="row header-row">
        <div class="col l3 m4 s12">
            <h2>Notifications</h2>
        </div>
    </div>
    <div class="row">
        <div class="collection notification-list">
            <div ng-repeat="notification in notifications">
                <a ng-if="notification.Type == 'ReportCreated'" ng-href="/dashboard/report/{{ notification.ParameterId }}" class="collection-item"><span>{{ notification.Sender }}</span> {{ notification.Content }} at <span>{{ notification.Timestamp }}</span></a>
            </div>
        </div>

        <a ng-if="lastNotificationDateTime" class="waves-effect waves-light btn load-more-button" ng-click="loadNotifications()">More</a>
    </div>
</div>