<div ui-view="shell"></div>

<div class="container main-container notifications">
    <div class="row header-row">
        <div class="col l3 m4 s12">
            <h2>Notifications</h2>
        </div>
    </div>
    <div class="row">
        <div class="collection notification-list">
            <a href="#!" class="collection-item"><span>BentyParadox</span> has submitted a new report to <span>Testing Unit</span> at <span>12:34PM</span></a>
            <a href="#!" class="collection-item"><span>BentyParadox</span> has replied to a message at <span>12:34PM</span></a>
            <a href="#!" class="collection-item"><span>gBoduljak</span> has submitted a new report to <span>Stonex - HQ</span> at <span>12:34PM</span></a>
            <a href="#!" class="collection-item"><span>BentyParadox</span> has submitted a new report to <span>Testing Unit</span> at <span>12:34PM</span></a>
        </div>
    </div>
</div>