<div id="shell" ui-view="shell"></div>

<div class="container main-container notifications">
    <div class="row header-row">
        <div class="col l3 m4 s12">
            <h2 style="font-size: 32px; margin-bottom: 5px;">Notifications</h2>
        </div>
    </div>
    <div class="row">
        <div class="collection notification-list">
            <div ng-repeat="notification in notifications">
                <a ng-if="notification.Type == 'ReportCreated'" ng-href="/dashboard/report/{{ notification.ParameterId }}" class="collection-item"><span>{{ notification.Sender.UserName }}</span> {{ notification.Content }} at <span>{{ notification.Timestamp | date: "h:mma" }}</span> on <span>{{ notification.Timestamp | date: "MM-dd-yyyy" }}</span></a>
                <a ng-if="notification.Type == 'MessageArrived'" ng-href="/dashboard/messages/{{ notification.TargetId }}" class="collection-item"><span>{{ notification.Sender.UserName }}</span> {{ notification.Content }} at <span>{{ notification.Timestamp | date: "h:mma" }}</span> on <span>{{ notification.Timestamp | date: "MM-dd-yyyy" }}</span></a>
                <a ng-if="notification.Type == 'ReportUpdated' && notification.Content.length > 11" ng-href="/dashboard/report/{{ notification.ParameterId }}" class="collection-item"><span>{{ notification.Sender.UserName }}</span> {{ notification.Content }} at <span>{{ notification.Timestamp | date: "h:mma" }}</span> on <span>{{ notification.Timestamp | date: "MM-dd-yyyy" }}</span></a>
                <a ng-if="notification.Type == 'ReportUpdated' && notification.Content.length < 11" ng-href="/dashboard/report/{{ notification.ParameterId }}" class="collection-item"><span>{{ notification.Sender.UserName }}</span> has changed the report status to {{ notification.Content }} at <span>{{ notification.Timestamp | date: "h:mma" }}</span> on <span>{{ notification.Timestamp | date: "MM-dd-yyyy" }}</span></a>
            </div>
        </div>

        <a ng-if="showMore" class="waves-effect waves-light btn load-more-button" ng-click="loadNotifications()">More</a>
    </div>
</div>

<script type="text/ng-template" id="reportCreatedModal">
    <div class="report-modal">
        <h1>New report received!</h1>
        <ui-gmap-google-map control="map.control" center="map.center" zoom="map.zoom" styles="map.styles" options="map.options" refresh="true">
            <ui-gmap-marker options="{icon:'assets/img/notification-marker.png'}" coords="reportMarker" idkey="0">
            </ui-gmap-marker>
        </ui-gmap-google-map>
        <p>Submitted by <span>{{ arrivedReport.Creator.UserName }}</span> at <span>{{ arrivedReport.Timestamp | date: "HH:mma" }}</span></p>
        <div class="row">
            <div class="col l6 m6 s12">
                <a class="waves-effect waves-light white black-text btn" ng-click="closeThisDialog(0)">Dismiss</a>
            </div>
            <div class="col l6 m6 s12">
                <a ng-href="/dashboard/report/{{ arrivedReport.Id }}" ng-click="closeThisDialog(0)" class="waves-effect waves-light btn details-button">Details</a>
            </div>
        </div>
    </div>
</script>

<audio id="notificationSound">
    <source src="/assets/sound/notification.mp3" type="audio/mpeg">
</audio>