<div id="shell" ui-view="shell"></div>
<div class="container main-container reports statistics" ng-controller="clientsController as vm">
    <div class="row header-row" style="border-bottom: none;">
        <div class="col l3 m4 s8 offset-s1">
            <h2>Dashboard</h2>
        </div>
        <div class="col l1 m1 s1 offset-l8 offset-m7 offset-s0">
            <a ng-href="#" class="center">
                <i class="material-icons notification-icon">notifications</i>
            </a>
        </div>

        <div class="row">
            <div class="col s12">
                <ul class="tabs" tabs>
                    <li class="tab col s12 m3 l3"><a href="#units">Units</a></li>
                    <li class="tab col s12 m3 l3"><a href="#reports">Reports</a></li>
                    <li class="tab col s12 m3 l3"><a href="#stats">Stats</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="units" class="col s12">
        <ul class="collection units">
            <li class="collection-item avatar" ng-repeat="unit in vm.units | filter:searchTerm">
                <img class="unit-icon" src="/assets/img/unit-icon.png">
                <p class="unit-name">{{ ::unit.Name }}</p>
            </li>
        </ul>
        <div ng-class="(isBusy) ? 'center loading-active' : 'center loading-inactive' ">
            <img src="/assets/img/loading.svg" width="55" />
        </div>
    </div>
    <div id="reports" class="col s12">
        <div class="row report-grid-row">
            <div class="col l3 m6 s12" quick-ng-repeat="report in vm.reports">
                <div class="card report-card">
                    <div class="card-content waves-effect waves-block waves-light white-text">
                        <p ng-if="!report.Description">Client has not provided a description for this report.</p>
                        <p ng-if="report.Description">{{ ::report.Description }}</p>
                        <div class="row">
                            <div class="col l6 m6 s6">
                                <p>
                                    <i class="material-icons report-detail-icon">access_time</i> {{ ::report.Timestamp | date: 'HH:mma'}}
                                </p>
                            </div>
                            <div class="col l6 m6 s6">
                                <p>
                                    <i class="material-icons report-detail-icon">list</i> {{ ::report.Category.Name }}
                                </p>
                            </div>
                        </div>
                        <div class="report-status">
                            <p>{{ report.Status }}</p>
                        </div>
                    </div>
                    <div class="card-action">
                        <a class="change-status-button activator" href="#">Change status</a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Change status<i class="material-icons right">close</i></span>
                        <div class="collection status-collection">
                            <a href="#" ng-click="vm.changeStatus(report.Id, 'Created')" class="collection-item">Created</a>
                            <a href="#" ng-click="vm.changeStatus(report.Id, 'Processing')" class="collection-item">Processing</a>
                            <a href="#" ng-click="vm.changeStatus(report.Id, 'Completed')" class="collection-item">Completed</a>
                            <a href="#" ng-click="vm.changeStatus(report.Id, 'Failure')" class="collection-item">Faliure</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="stats">
        <canvas id="reportsChart" class="chart chart-line" chart-data="vm.chartData" chart-labels="vm.chartLabels" chart-legend="true" chart-series="vm.chartSeries"></canvas>
        <div class="switch">
            <label>
                Past month
                <input type="checkbox" ng-model="isPastMonth">
                <span class="lever"></span>
                All time
            </label>
        </div>
        <div id="quartal" ng-if="!isPastMonth">
            <h3 ng-if="vm.stats.ThisMonthNumbers.ReportsCount > 1"><span>{{ vm.stats.ThisMonthNumbers.ReportsCount }}</span> reports submitted in <span>{{ vm.chartLabels[3] }}</span></h3>
            <h3 ng-if="vm.stats.ThisMonthNumbers.ReportsCount === 1"><span>{{ vm.stats.ThisMonthNumbers.ReportsCount }}</span> report submitted in <span>{{ vm.chartLabels[3] }}</span></h3>
            <h3 ng-if="vm.stats.ThisMonthNumbers.ReportsCount === 0">Can't display statistics because no reports were submitted this month so far.</h3>
            <div class="row" ng-if="vm.stats.ThisMonthNumbers.ReportsCount !== 0">
                <div class="col l4 m6 s12">
                    <div class="card small">
                        <h2 class="cyan-text center-align">{{ vm.stats.ThisMonthNumbers.ReportsProcessing }}</h2>
                        <p class="lead grey-text center-align">REPORTS PROCESSING</p>
                    </div>
                </div>
                <div class="col l4 m6 s12">
                    <div class="card small">
                        <h2 class="cyan-text center-align">{{ vm.stats.ThisMonthNumbers.ReportsCompleted }}</h2>
                        <p class="lead grey-text center-align">REPORTS COMPLETED</p>
                    </div>
                </div>
                <div class="col l4 m6 s12">
                    <div class="card small">
                        <h2 class="cyan-text center-align">{{ vm.stats.ThisMonthNumbers.ReportsFailed}}</h2>
                        <p class="lead grey-text center-align">REPORTS FAILED</p>
                    </div>
                </div>
                <div class="col l4 m6 s12">
                    <div class="card small">
                        <h2 class="cyan-text center-align">{{ vm.stats.ThisMonthPercentages.AverageReportsProcessing.round(0) }}%</h2>
                        <p class="lead grey-text center-align">REPORTS PROCESSING</p>
                    </div>
                </div>
                <div class="col l4 m6 s12">
                    <div class="card small">
                        <h2 class="cyan-text center-align">{{ vm.stats.ThisMonthPercentages.AverageReportsCompleted.round(0) }}%</h2>
                        <p class="lead grey-text center-align">REPORTS COMPLETED</p>
                    </div>
                </div>
                <div class="col l4 m6 s12">
                    <div class="card small">
                        <h2 class="cyan-text center-align">{{ vm.stats.ThisMonthPercentages.AverageReportsFailure.round(0) }}%</h2>
                        <p class="lead grey-text center-align">REPORTS FAILED</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="allTime" ng-if="isPastMonth">
            <h3 ng-if="vm.stats.AllTime.Numbers.ReportsCount > 1"><span>{{ vm.stats.AllTime.Numbers.ReportsCount }}</span> reports submitted total
            </h3>
            <h3 ng-if="vm.stats.AllTime.Numbers.ReportsCount === 1"><span>{{ vm.stats.AllTime.Numbers.ReportsCount }}</span> report submitted total
            </h3>
            <h3 ng-if="vm.stats.AllTime.Numbers.ReportsCount === 0">Can't display statistics because no reports were submitted total.</h3>
            <div class="row" ng-if="vm.stats.AllTime.Numbers.ReportsCount !== 0">
                <div class="col l4 m6 s12">
                    <div class="card small">
                        <h2 class="cyan-text center-align">{{ vm.stats.AllTime.Numbers.ReportsProcessing }}</h2>
                        <p class="lead grey-text center-align">REPORTS PROCESSING</p>
                    </div>
                </div>
                <div class="col l4 m6 s12">
                    <div class="card small">
                        <h2 class="cyan-text center-align">{{ vm.stats.AllTime.Numbers.ReportsCompleted }}</h2>
                        <p class="lead grey-text center-align">REPORTS COMPLETED</p>
                    </div>
                </div>
                <div class="col l4 m6 s12">
                    <div class="card small">
                        <h2 class="cyan-text center-align">{{ vm.stats.AllTime.Numbers.ReportsFailed}}</h2>
                        <p class="lead grey-text center-align">REPORTS FAILED</p>
                    </div>
                </div>
                <div class="col l4 m6 s12">
                    <div class="card small">
                        <h2 class="cyan-text center-align">{{ vm.stats.AllTime.Percentages.AverageReportsProcessing.round(0) }}%</h2>
                        <p class="lead grey-text center-align">REPORTS PROCESSING</p>
                    </div>
                </div>
                <div class="col l4 m6 s12">
                    <div class="card small">
                        <h2 class="cyan-text center-align">{{ vm.stats.AllTime.Percentages.AverageReportsCompleted.round(0) }}%</h2>
                        <p class="lead grey-text center-align">REPORTS COMPLETED</p>
                    </div>
                </div>
                <div class="col l4 m6 s12">
                    <div class="card small">
                        <h2 class="cyan-text center-align">{{ vm.stats.AllTime.Percentages.AverageReportsFailure.round(0) }}%</h2>
                        <p class="lead grey-text center-align">REPORTS FAILED</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>