<div ui-view="shell"></div>
<div class="container main-container reports" ng-controller="clientsController as vm">
    <div class="row header-row" style="border-bottom: none;">
        <div class="col l3 m4 s11">
            <h2>Dashboard</h2>
        </div>
        <div class="col l1 m1 s1 offset-l8 offset-m7 offset-s0">
            <a ng-href="#" class="center">
                <i class="material-icons notification-icon">notifications</i>
            </a>
        </div>
        <div class="row">
            <div class="col s12">
                <ul class="tabs" tabs>
                    <li class="tab col s12 m3 l3"><a href="#units">Units</a></li>
                    <li class="tab col s12 m3 l3"><a href="#reports">Reports</a></li>
                    <li class="tab col s12 m3 l3"><a href="#stats">Stats</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="units" class="col s12">
        <div class="row">
            <div class="col s12">
                <div class="center center-align center-block centered gray-text">
                    <h3 class="cyan-text">{{ ::vm.units.length }}</h3>
                    <h4 class="gray-text">UNITS</h4>
                </div>
            </div>
        </div>
        <ul class="collection units">
            <li class="collection-item avatar" ng-repeat="unit in vm.units | filter:searchTerm">
                <img class="unit-icon" src="/assets/img/unit-icon.png">
                <p class="unit-name">{{ ::unit.Name }}</p>
            </li>
        </ul>
        <div ng-class="(isBusy) ? 'center loading-active' : 'center loading-inactive' ">
            <img src="/assets/img/loading.svg" width="55" />
        </div>
    </div>
    <div id="reports" class="col s12">
        <div class="row">
            <div class="col s12">
                <div class="center center-align center-block centered gray-text">
                    <h3 class="cyan-text">{{ ::vm.reports.length }}</h3>
                    <h4 class="gray-text">REPORTS</h4>
                </div>
            </div>
        </div>
        <div class="row report-grid-row">
            <div class="col l3 m6 s12">
                <div class="card report-card" quick-ng-repeat="report in vm.reports">
                    <div class="card-content waves-effect waves-block waves-light white-text">
                        <p ng-if="!report.Description">Client has not provided a description for this report.</p>
                        <p ng-if="report.Description">{{ report.Description }}</p>
                        <div class="row">
                            <div class="col l6 m6 s6">
                                <p>
                                    <i class="material-icons report-detail-icon">access_time</i> {{ report.Timestamp | date: 'HH:mma'}}
                                </p>
                            </div>
                            <div class="col l6 m6 s6">
                                <p>
                                    <i class="material-icons report-detail-icon">list</i> {{ report.Category.Name }}
                                </p>
                            </div>
                        </div>
                        <div class="report-status">
                            <p>{{ report.Status }}</p>
                        </div>
                    </div>
                    <div class="card-action">
                        <a class="change-status-button activator" href="#">Change status</a>
                        <a class="delete-report-button" href="#" ng-click="vm.deleteReport(report.Id)">Delete</a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Change status<i class="material-icons right">close</i></span>
                        <div class="collection status-collection">
                            <a href="#" ng-click="vm.changeStatus(report.Id, 'Created')" class="collection-item">Created</a>
                            <a href="#" ng-click="vm.changeStatus(report.Id, 'Processing')" class="collection-item">Processing</a>
                            <a href="#" ng-click="vm.changeStatus(report.Id, 'Completed')" class="collection-item">Completed</a>
                            <a href="#" ng-click="vm.changeStatus(report.Id, 'Failure')" class="collection-item">Faliure</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="stats" class="col s12">Stats</div>
</div>