<ion-tabs class="tabs-positive tabs-top tabs-color-light">
    <!-- Home Tab -->
    <ion-tab title="Home" icon-off="ion-android-add" icon-on="ion-android-add" ui-sref="tab.home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <!-- Reports Tab -->
    <ion-tab title="Reports" icon-off="ion-android-list" icon-on="ion-android-list" ui-sref="tab.reports">
        <ion-nav-view name="tab-reports"></ion-nav-view>
    </ion-tab>
    <!-- Messages Tab -->
    <ion-tab title="Messaging" icon-off="ion-android-chat" icon-on="ion-android-chat" ui-sref="tab.messaging">
        <ion-nav-view name="tab-messaging"></ion-nav-view>
    </ion-tab>
</ion-tabs>  