<div ui-view="shell"></div>

<div class="container units-container">
    <div class="row header-row">
        <div class="col l3 m4 s12">
            <h2>Details</h2>
        </div>
        <div class="col l1 m1 s1 offset-l8 offset-m7">
            <a ng-href="#" class="center">
                <i class="material-icons notification-icon">notifications</i>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <ul class="tabs" tabs>
                <li class="tab col s3"><a class="active" href="#general">General</a></li>
                <li class="tab col s3"><a href="#users">Users</a></li>
                <li class="tab col s3"><a href="#properties">Properties</a></li>
            </ul>
        </div>
        <div id="general" class="col s12">
            <div class="row">
                <div class="col l2 m5 s6">
                    <p class="setting-title">Unit name</p>
                </div>
                <div class="input-field col l3 m5 s5">
                    <input id="unitName" type="text" ng-model="unit.Name"/>
                </div>
                <a href="#" ng-click="editUnit(unit.Id)" class="center">
                    <i class="material-icons change-name-icon">done</i>
                </a>     
            </div>
            <div class="row">
                <div class="col l2 m5 s6">
                    <p class="setting-title">Delete unit</p>
                </div>
                <div class="input-field col l3 m5 s6">
                    <a href="#" ng-click="deleteUnit(unit.Id)" class="waves-effect waves-light btn red white-text delete-unit-button">Delete</a>
                </div>

            </div>
        </div>
        <div id="users" class="col s12">
            <ul class="collection user-collection">
                <div ng-repeat="client in clients">
                    <li class="collection-item avatar">
                        <div class="user-details">
                            <img src="/assets/img/unit-icon.png" class="circle">
                            <span class="title">{{ client.UserName }}</span>
                            <p>{{ client.Name }} {{ client.Surname }}</p>
                        </div>
                        <div class="secondary-content">
                            <a ng-click="removeClient(client.Id)" class="waves-effect waves-light red white-text btn">Remove</a>
                        </div>
                    </li>
                </div>
            </ul>
            <a href="#addUser" class="btn btn-floating btn-large waves-effect waves-light add-user-button" ng-hide="isBusy" modal><i class="material-icons">add</i></a>
            <div ng-class="(isBusy) ? 'center loading-active' : 'center loading-inactive' ">
                <img src="/assets/img/loading.svg" width="55"/>
            </div>
        </div>

        <div id="properties" class="col s12">
            <ul class="collapsible" data-collapsible="accordion" watch>
                <li>
                    <div class="collapsible-header">Categories</div>
                    <div class="collapsible-body">
                        <ul class="collection properties">
                            <li class="collection-item" ng-repeat="category in categories">
                                <div>
                                    <span class="property-title">{{ category.Name }}</span>
                                    <a href="#!" ng-click="removeCategory(category.Id)" class="secondary-content"><i class="material-icons">delete</i></a>
                                </div>
                            </li>

                        </ul>
                        <a href="#addCategory" class="btn btn-floating btn-large waves-effect waves-light add-user-button add-property-button" ng-hide="isBusy" modal><i class="material-icons">add</i></a>
                    </div>
                </li>

                <li>
                    <div class="collapsible-header">Locations</div>
                    <div class="collapsible-body">
                        <ul class="collection properties">
                            <li class="collection-item" ng-repeat="location in locations">
                                <div>
                                    <span class="property-title">{{ location.Name }}</span>
                                    <a href="#!" ng-click="removeLocation(location.Id)" class="secondary-content"><i class="material-icons">delete</i></a>
                                </div>
                            </li>

                        </ul>
                        <a href="#addLocation" class="btn btn-floating btn-large waves-effect waves-light add-user-button add-property-button" ng-hide="isBusy" modal><i class="material-icons">add</i></a>
                    </div>
                </li>

                <li>
                    <div class="collapsible-header">Custom properties</div>
                    <div class="collapsible-body">
                        <ul class="collection properties">
                            <li class="collection-item" ng-repeat="customProperty in customProperties">
                                <div>
                                    <span class="property-title">{{ customProperty.Name }}</span>
                                    <a href="#!" ng-click="removeCustomProperty(customProperty.Id)" class="secondary-content"><i class="material-icons">delete</i></a>
                                </div>
                            </li>
                        </ul>
                        <a href="#addCustomProperty" class="btn btn-floating btn-large waves-effect waves-light add-user-button add-property-button" ng-hide="isBusy" modal><i class="material-icons">add</i></a>
                    </div>
                </li>
            </ul>
        </div>

        <div id="addUser" class="modal add-user-modal">
            <div class="modal-content">
                <h4>Add user</h4>
                <input id="userName" placeholder="Type user code here" type="text" ng-model="clientKey"/>
            </div>
            <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="addClient(clientKey)" ng-hide="isBusy">Add</a>
            </div>
        </div>
    </div>
</div>