<div ui-view="shell"></div>

<div class="container units-container">
    <div class="row header-row">
        <div class="col l3 m4 s12">
            <h2>Details</h2>
        </div>
        <div class="col l1 m1 s1 offset-l8 offset-m7">
            <a ng-href="#" class="center">
                <i class="material-icons notification-icon">notifications</i>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <ul class="tabs" tabs>
                <li class="tab col s3"><a class="active" href="#general">General</a></li>
                <li class="tab col s3"><a href="#users">Users</a></li>
                <li class="tab col s3"><a href="#properties">Properties</a></li>
            </ul>
        </div>
        <div id="general" class="col s12">
            <div class="row">
                <div class="col l2 m5 s6">
                    <p class="setting-title">Unit name</p>
                </div>
                <div class="input-field col l3 m5 s6">
                    <input id="unitName" type="text" ng-model="unit.Name"/>
                </div>
            </div>
            <div class="row">
                <div class="col l2 m5 s6">
                    <p class="setting-title">Delete unit</p>
                </div>
                <div class="input-field col l3 m5 s6">
                    <a class="waves-effect waves-light btn red white-text delete-unit-button">Delete</a>
                </div>

            </div>
        </div>
        <div id="users" class="col s12">
            <ul class="collection">
                <li class="collection-item avatar">
                    <img src="/assets/img/unit-icon.png" class="circle">
                    <span class="title">BentParadox</span>
                    <p>Boris Borovic</p>
                    <div class="secondary-content">
                        <a ng-href="/dashboard/unit/{{ unit.Id }}/details" class="waves-effect waves-light red white-text btn">Remove</a>
                    </div>
                </li>
            </ul>
            <a href="#addUser" class="btn-floating btn-large waves-effect waves-light add-user-button" ng-hide="isBusy" modal><i class="material-icons">add</i></a>
            <div ng-class="(isBusy) ? 'center loading-active' : 'center loading-inactive' ">
                <img src="/assets/img/loading.svg" width="55" />
            </div>
        </div>
        <div id="properties" class="col s12">

        </div>

        <div id="addUser" class="modal add-user-modal">
            <div class="modal-content">
                <h4>Add user</h4>
                <input id="userName" placeholder="Type username here" type="text" ng-model="userName"/>
            </div>
            <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="addUser(userName)" ng-hide="isBusy">Add</a>
            </div>
        </div>
    </div>
</div>