<div ui-view="shell"></div>
<div class="container main-container unit-details">
    <div class="row header-row">
        <div class="col l3 m4 s12">
            <h2>Details</h2>
        </div>
        <div class="col l1 m1 s1 offset-l8 offset-m7">
            <a ng-href="#" class="center">
                <i class="material-icons notification-icon">notifications</i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="tabs" tabs>
                <li class="tab col s3"><a class="active" href="#general">General</a></li>
                <li class="tab col s3"><a href="#users">Users</a></li>
                <li class="tab col s3"><a href="#properties">Properties</a></li>
            </ul>
        </div>
        <div id="general" class="col s12">
            <div class="unit-details-title-container">
                <h2 class="center center-align centered center">
                    {{ unit.Name }}
                </h2>
            </div>

            <div class="row">
                <div class="col s12">
                    <form name="editUnitForm" role="form" novalidate>
                        <div class="row">
                            <div class="input-field col m6 s12">
                                <input id="unitName" name="unitName" type="text" ng-model="unit.Name" placeholder="New unit name" required ng-required/>
                                <small class="validation" ng-show="editUnitForm.unitName.$touched && editUnitForm.unitName.$error.required">Unit name is required.</small>
                            </div>
                            <div class="input-field col m6 s12">
                                <a class="waves-effect waves-light btn white btn-gray-text center-align" ng-click="editUnit(unit.Id)" ng-disabled="editUnitForm.$invalid || editUnitForm.$pristine"><i class="material-icons left">save</i> SAVE</a>
                                <a class="waves-effect waves-light btn red white-text center-align" ng-click="deleteUnit(unit.Id)"><i class="material-icons left">delete</i>DELETE</a>
                                <a ng-href="/statistics/{{unit.Id}}" class="waves-effect waves-light btn center-align" ng-click="editUnit(unit.Id)"><i class="material-icons left">equalizer</i> STATS</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div id="users" class="col s12">
            <ul class="collection user-collection">
                <li class="collection-item avatar" ng-repeat="client in clients">
                    <div class="user-details">
                        <img src="/assets/img/unit-icon.png" class="circle">
                        <span class="title">{{ client.UserName }}</span>
                        <p>{{ client.Name }} {{ client.Surname }}</p>
                    </div>
                    <div class="secondary-content">
                        <a ng-click="removeClient(client.Id)" class="waves-effect waves-light red white-text btn">Remove</a>
                    </div>
                </li>
            </ul>
            <div ng-class="(isBusy) ? 'center loading-active' : 'center loading-inactive' ">
                <img src="/assets/img/loading.svg" width="55" />
            </div>
            <div class="row add-user">
                <form role="form" name="addUserForm" novalidate>
                    <div class="col l11 m11 s10">
                        <input ng-class="{ 'valid' : addUserForm.clientKey.$touched && addUserForm.clientKey.$valid, 'invalid' : addUserForm.clientKey.$touched && addUserForm.clientKey.$invalid }" id="clientKey" name="clientKey" placeholder="Type user code" type="text" ng-model="clientKey" required />
                        <small class="validation" ng-show="addUserForm.clientKey.$touched && addUserForm.clientKey.$error.required">User code is required.</small>
                    </div>
                    <div class="col l1 m1 s2">
                        <button href="#" class="btn-floating waves-effect waves-light" ng-click="addClient(unit.Id, clientKey)" ng-disabled="addUserForm.$invalid || addUserForm.$pristine">
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div id="properties" class="col s12 row-no-margin">
            <ul class="collapsible" data-collapsible="accordion" watch>
                <li>
                    <div class="collapsible-header">Categories</div>
                    <div class="collapsible-body">
                        <ul class="collection properties">
                            <li class="collection-item" ng-repeat="category in categories">
                                <div>
                                    <span class="property-title">{{ category.Name }}</span>
                                    <a href="#!" ng-click="removeCategory(category.Id)" class="secondary-content"><i class="material-icons">delete</i></a>
                                </div>
                            </li>
                        </ul>
                        <div class="row create-property row-no-margin">
                            <form role="form" name="createCategoryForm" novalidate>
                                <div class="col l11 m11 s10">
                                    <input ng-class="{ 'valid' : createCategoryForm.categoryName.$touched && createCategoryForm.categoryName.$valid, 'invalid' : createCategoryForm.categoryName.$touched && createCategoryForm.categoryName.$invalid }" id="categoryName" name="categoryName" placeholder="New category name" type="text" ng-model="categoryName" ng-minlength="3" ng-maxlength="25" required />
                                    <small class="validation" ng-show="createCategoryForm.categoryName.$touched && createCategoryForm.categoryName.$error.required">Category name is required.</small>
                                    <small class="validation" ng-show="createCategoryForm.categoryName.$touched && createCategoryForm.categoryName.$error.minlength">Category name has to contain atleast 3 characters.</small>
                                    <small class="validation" ng-show="createCategoryForm.categoryName.$touched && createCategoryForm.categoryName.$error.maxlength">Category name cannot be more than 25 characters long.</small>
                                </div>
                                <div class="col l1 m1 s2">
                                    <button href="#" class="btn-floating waves-effect waves-light" ng-click="addCategory(unit.Id, categoryName)" ng-disabled="createCategoryForm.$invalid || createCategoryForm.$pristine || isBusy">
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
                <li ng-click="refreshMap()">
                    <div class="collapsible-header">Locations</div>
                    <div class="collapsible-body row-no-margin">
                        <div class="row row-no-margin">
                            <div class="col s12">
                                <ul class="collection properties">
                                    <li class="collection-item" ng-repeat="location in locations">
                                        <div>
                                            <span class="property-title">{{ location.Name }}</span>
                                            <a href="#!" ng-click="removeLocation(location.Id)" class="secondary-content"><i class="material-icons">delete</i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row create-property row-no-margin">
                            <form role="form" name="createLocationForm" novalidate>
                                <div class="col s12">
                                    <div class="row">
                                        <div class="col l8 m8 s12">
                                            <input ng-class="{ 'valid' : createLocationForm.locationName.$touched && createLocationForm.locationName.$valid, 'invalid' : createLocationForm.locationName.$touched && createLocationForm.locationName.$invalid }" id="locationName" name="locationName" placeholder="New location name" type="text" ng-model="location.Name" ng-minlength="3" ng-maxlength="25" required />
                                            <small class="validation" ng-show="createLocationForm.locationName.$touched && createLocationForm.locationName.$error.required">Location name is required.</small>
                                            <small class="validation" ng-show="createLocationForm.locationName.$touched && createLocationForm.locationName.$error.minlength">Location name has to contain atleast 3 characters.</small>
                                            <small class="validation" ng-show="createLocationForm.locationName.$touched && createLocationForm.locationName.$error.maxlength">Location name cannot be more than 25 characters long.</small>
                                            <input ng-class="{ 'valid' : createLocationForm.locationLatitude.$touched && createLocationForm.locationLatitude.$valid, 'invalid' : createLocationForm.locationLatitude.$touched && createLocationForm.locationLatitude.$invalid }" id="locationLatitude" name="locationLatitude" placeholder="Latitude" type="number" ng-model="location.Latitude" required />
                                            <small class="validation" ng-show="createLocationForm.locationLatitude.$touched && createLocationForm.locationLatitude.$error.required">Latitude is required.</small>
                                            <input ng-class="{ 'valid' : createLocationForm.locationLongitude.$touched && createLocationForm.locationLongitude.$valid, 'invalid' : createLocationForm.locationLongitude.$touched && createLocationForm.locationLongitude.$invalid }" id="locationLongitude" name="locationLongitude" placeholder="Longitude" type="number" ng-model="location.Longitude" required />
                                            <small class="validation" ng-show="createLocationForm.locationLongitude.$touched && createLocationForm.locationLongitude.$error.required">Location longitude is required.</small>
                                        </div>
                                        <div class="col l2 m2 s12">
                                            <div>
                                                <button href="#" class="btn-floating waves-effect waves-light" ng-click="addLocation(unit.Id, location)" ng-disabled="createLocationForm.$invalid || createLocationForm.$pristine">
                                                    <i class="material-icons">add</i>
                                                </button>
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                </div>
                                <div class="col s12" style="padding: 1em;">
                                    <div class="row">
                                        <div class="col l4 m4 s12">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">search</i>
                                                <input id="placesQuery" name="placesQuery"
                                                       placeholder="Search..."
                                                       type="text"
                                                       ng-model="placesQuery"
                                                       ng-minlength="3"
                                                       ng-maxlength="50"
                                                       ng-change="queryPlaces(placesQuery)" />
                                                <label for="icon_prefix">Search Locations</label>
                                            </div>
                                            <br />
                                            <br />
                                            <p class="gray-text" ng-show="places.length ">{{ places.length }} matching search.</p>
                                            <ul class="collection" style="margin: 0;">
                                                <li class="collection-item avatar waves-block waves-effect waves-button-input"
                                                    quick-ng-repeat="place in places"
                                                    quick-repeat-list="places"
                                                    ng-click="placeSelected(place)">
                                                    <img src="/assets/img/location.png" alt="" class="circle">
                                                    <span class="title text-accent">{{ place.name }}</span>
                                                    <span class="gray-text">
                                                        <br />
                                                        {{ place.formatted_address }}
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col l8 m5 s12">
                                            <style>
                                                .angular-google-map-container {
                                                    height: 400px;
                                                }
                                            </style>
                                            <ui-gmap-google-map control="map.control"
                                                                center='map.center'
                                                                zoom='map.zoom'
                                                                styles="map.styles"
                                                                options="map.options"
                                                                style="height: 400px;"
                                                                events="map.events"
                                                                refresh="true">
                                                <ui-gmap-markers models="markers" coords="'self'" icon="'icon'" click="onMarkerClicked">
                                                    <ui-gmap-windows show="'showWindow'" closeclick="'closeClick'" ng-cloak>
                                                        <p>
                                                            Current location
                                                        </p>
                                                    </ui-gmap-windows>
                                                </ui-gmap-markers>
                                            </ui-gmap-google-map>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Custom properties</div>
                    <div class="collapsible-body">
                        <ul class="collection properties">
                            <li class="collection-item" ng-repeat="customProperty in customProperties">
                                <div>
                                    <span class="property-title">{{ customProperty.Name }}</span>
                                    <a href="#!" ng-click="removeCustomProperty(customProperty.Id)" class="secondary-content"><i class="material-icons">delete</i></a>
                                </div>
                            </li>
                        </ul>
                        <div class="row create-property custom-property row-no-margin">
                            <form role="form" name="createCustomPropertyForm" novalidate>
                                <div class="col l8 m8 s12">
                                    <input ng-class="{ 'valid' : createCustomPropertyForm.customPropertyName.$touched && createCustomPropertyForm.customPropertyName.$valid, 'invalid' : createCustomPropertyForm.customPropertyName.$touched && createCustomPropertyForm.customPropertyName.$invalid }" id="customPropertyName" name="customPropertyName" placeholder="New custom property title" type="text" ng-model="customPropertyName" ng-minlength="3" ng-maxlength="25" required />
                                    <small class="validation" ng-show="createCustomPropertyForm.customPropertyName.$touched && createCustomPropertyForm.customPropertyName.$error.required">Custom property title is required.</small>
                                    <small class="validation" ng-show="createCustomPropertyForm.customPropertyName.$touched && createCustomPropertyForm.customPropertyName.$error.minlength">Custom property title has to contain atleast 3 characters.</small>
                                    <small class="validation" ng-show="createCustomPropertyForm.customPropertyName.$touched && createCustomPropertyForm.customPropertyName.$error.maxlength">Custom property title cannot be more than 25 characters long.</small>
                                </div>
                                <div class="col l3 m3 s12">
                                    <div class="input-field custom-property-type">
                                        <select name="customPropertyType" class="" material-select watch ng-model="customPropertyType" required>
                                            <option value="" disabled selected style="font-size: 10px;">Property Type</option>
                                            <option value="Field">Field</option>
                                            <option value="CheckBox">Checkbox</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col l1 m1 s12 center-align">
                                    <button href="#" class="btn-floating waves-effect waves-light" ng-click="addCustomProperty(unit.Id, customPropertyName, customPropertyType)" ng-disabled="createCustomPropertyForm.$invalid || createCustomPropertyForm.$pristine || isBusy">
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
