<div class="landing">
    <nav class="transparent">
        <div class="container">
            <a href="/" class="brand-logo">Emergy</a>
            <a href="#" data-activates="mobile" data-sidenav="left" data-closeonclick="true" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#how-it-works">How It Works</a></li>
                <li><a href="#features">Main Features</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
            <ul class="side-nav" id="mobile">
                <li><a href="#how-it-works">How It Works</a></li>
                <li><a href="#features">Main Features</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="section home">
        <div class="container">
            <div class="row">
                <div class="col l6 m12 s12">
                    <h1>Incident reporting platform</h1>
                    <p class="under-slogan">built for everyone</p>
                    <a href="/register" class="waves-effect waves-light btn-large">START NOW</a>
                </div>
                <div class="col l6 m12 s12">
                    <img src="/assets/img/macbook.png">
                </div>
            </div>
        </div>
    </div>
    <div class="section overview" id="how-it-works">
        <div class="container">
            <h2>How it Works</h2>
            <div class="row">
                <div class="col l6 m6 s12 offset-l3 offset-m3">
                    <ul class="tabs" tabs>
                        <li class="tab col s3"><a href="#personnel">For personnel</a></li>
                        <li class="tab col s3"><a href="#employees">For employees</a></li>
                    </ul>
                </div>
                <div id="personnel" class="col s12">
                    <div class="row">
                        <div class="col l4 m4 s12">
                            <img src="/assets/img/organize.png">
                            <h4>Organize</h4>
                            <p>Organize employees into units for more efficient information collection.</p>
                        </div>
                        <div class="col l4 m4 s12">
                            <img src="/assets/img/document.png">
                            <h4>Document</h4>
                            <p>View all incident reports in real time and get access to statistics.</p>
                        </div>
                        <div class="col l4 m4 s12">
                            <img src="/assets/img/communicate.png">
                            <h4>Communicate</h4>
                            <p>Communicate with employees, give out assignments and resolve incidents faster.</p>
                        </div>
                    </div>
                </div>
                <div id="employees" class="col s12">
                    <div class="row">
                        <div class="col l4 m4 s12">
                            <img src="/assets/img/plus.png">
                            <h4>Report</h4>
                            <p>Send all relevant incident information quickly and without hassle.</p>
                        </div>
                        <div class="col l4 m4 s12">
                            <img src="/assets/img/communicate.png">
                            <h4>Communicate</h4>
                            <p>Communicate with security personnel to resolve the incident faster.</p>
                        </div>
                        <div class="col l4 m4 s12">
                            <img src="/assets/img/resolve.png">
                            <h4>Resolve</h4>
                            <p>Get notified of current report status and help in resolving other incidents.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section features" id="features">
        <div class="container">
            <div class="row">
                <div class="col l6 m6 s12">
                    <h3>Incident reporting</h3>
                    <p>Using the Emergy mobile application, employees can report incidents easier and faster than ever. Fill out all relevant information, add description, photos and special properties defined by your company, organization or public entity.</p>
                </div>
                <div class="col l6 m6 s12">
                    <img src="/assets/img/iphone-report.PNG">
                </div>
            </div>
        </div>
    </div>
    <div class="section features gray" id="features">
        <div class="container">
            <div class="row">
                <div class="col l6 m6 s12">
                    <img src="/assets/img/manage-reports.png">
                </div>
                <div class="col l6 m6 s12">
                    <h3>Incident management</h3>
                    <p>Security and incident management personnel can access all the incident information, generate PDF's, update the report status and assign other employees to help solving issues that arose after the incident.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section features" id="features">
        <div class="container">
            <div class="row">
                <div class="col l6 m6 s12">
                    <h3>...all in real time</h3>
                    <p>Every single action that users make on the Emergy platform is connected to our realtime service which sends out instant notifications, both visual and audio, sends emails, etc.</p>
                </div>
                <div class="col l6 m6 s12">
                    <img src="/assets/img/realtime.png">
                </div>
            </div>
        </div>
    </div>
    <div class="section team" id="team">
        <div class="container">
            <h2>Meet the Team</h2>
            <div class="row">
                <div class="col l6 m6 s12">
                    <img src="/assets/img/gboduljak.jpeg" alt="" class="circle responsive-img z-depth-2">
                    <h3>Gabrijel Boduljak</h3>
                    <p>Backend Developer</p>
                    <p class="description">Worked on the Emergy backend logic. Mostly works with ASP.NET Web API and Entity Framework. Interested in reactive programming and data model design.</p>
                </div>
                <div class="col l6 m6 s12">
                    <img src="/assets/img/bborovic.jpg" alt="" class="circle responsive-img z-depth-2">
                    <h3>Boris Borović</h3>
                    <p>Frontend Developer</p>
                    <p class="description">Developed the UI for Web and Mobile application. Spends most of his time buried in CSS stylesheets and AngularJS. Also, a drone enthusiast :)</p>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Emergy</h5>
                    <p class="grey-text text-lighten-4">Built for Croatian Informatics competition InfoKup 2016.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#how-it-works">How it works</a></li>
                        <li><a class="grey-text text-lighten-3" href="#features">Main features</a></li>
                        <li><a class="grey-text text-lighten-3" href="#team">Team</a></li>
                        <li><a class="grey-text text-lighten-3" href="/login">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 Emergy. All rights reserved.
            </div>
        </div>
    </footer>
</div>