<div class="landing">
    <nav class="transparent">
        <div class="container">
            <a href="/" class="brand-logo">Emergy</a>
            <a href="#" data-activates="mobile" data-sidenav="left" data-closeonclick="true" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#how-it-works">How It Works</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
            <ul class="side-nav" id="mobile">
                <li><a href="#how-it-works">How It Works</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="section home">
        <div class="container">
            <div class="row">
                <div class="col l6 m12 s12">
                    <h1>Incident reporting platform</h1>
                    <p class="under-slogan">built for everyone</p>
                    <a href="/register" class="waves-effect waves-light btn-large">START NOW</a>
                </div>
                <div class="col l6 m12 s12">
                    <img src="/assets/img/macbook.png">
                </div>
            </div>
        </div>
    </div>
    <div class="section overview" id="how-it-works">
        <div class="container">
            <h2>How it Works</h2>
            <div class="row">
                <div class="col l6 m6 s12 offset-l3 offset-m3">
                    <ul class="tabs" tabs>
                        <li class="tab col s3"><a href="#personnel">For personnel</a></li>
                        <li class="tab col s3"><a href="#employees">For employees</a></li>
                    </ul>
                </div>
                <div id="personnel" class="col s12">
                    <div class="row">
                        <div class="col l4 m4 s12">
                            <img src="/assets/img/organize.png">
                            <h4>Organize</h4>
                            <p>Organize employees into units for more efficient information collection.</p>
                        </div>
                        <div class="col l4 m4 s12">
                            <img src="/assets/img/document.png">
                            <h4>Document</h4>
                            <p>View all incident reports in real time and get access to statistics.</p>
                        </div>
                        <div class="col l4 m4 s12">
                            <img src="/assets/img/communicate.png">
                            <h4>Communicate</h4>
                            <p>Communicate with employees, give out assignments and resolve incidents faster.</p>
                        </div>
                    </div>
                </div>
                <div id="employees" class="col s12">
                    <div class="row">
                        <div class="col l4 m4 s12">
                            <img src="/assets/img/plus.png">
                            <h4>Report</h4>
                            <p>Send all relevant incident information quickly and without hassle.</p>
                        </div>
                        <div class="col l4 m4 s12">
                            <img src="/assets/img/communicate.png">
                            <h4>Communicate</h4>
                            <p>Communicate with security personnel to resolve the incident faster.</p>
                        </div>
                        <div class="col l4 m4 s12">
                            <img src="/assets/img/resolve.png">
                            <h4>Resolve</h4>
                            <p>Get notified of current report status and help in resolving other incidents.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>