<div class="container login-register-container">
    <div class="row">
        <div class="col s12">
            <div class="card medium">
                <img src="/assets/img/login-account-icon.png" class="login-icon"/>
                <form class="col s12">
                    <div class="input-field col s10">
                        <input class="validate" id="email" placeholder="Your e-mail" type="email">
                    </div>
                    <div class="input-field col s10">
                        <input class="validate" id="password" placeholder="Your password" type="password">
                    </div>
                    <div class="col s6 offset-s1">
                        <input class="filled-in" id="filled-in-box" type="checkbox"> 
                        <label for="filled-in-box">Remember me</label>
                    </div>
                    <div class="col s4">
                        <button class="btn waves-effect waves-light" name="action" type="submit">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col s12">
            <div class="card small">
                <h5 class="register-question-heading left-align col s10">Don't have an account?</h5>
                <p class="col s10">Click <a href="#">here</a> to sign up</p>
            </div>
        </div>
    </div>
</div>