<div ui-view="shell"></div>

<div class="container main-container">
    <div class="row header-row">
        <div class="col l3 m4 s12">
            <h2>Units</h2>
        </div>
        <div class="col l5 m5 s10">
            <input class="search" ng-model="searchTerm"
                   id="search" type="search" placeholder="Type here to search units">
        </div>
        <div class="col l1 m1 s1 offset-l3 offset-m1">
            <a ng-href="#" class="center">
                <i class="material-icons notification-icon">notifications</i>
            </a>
        </div>
    </div>
    <ul class="collection units">
        <li class="collection-item avatar" ng-repeat="unit in units | filter:searchTerm">
            <img class="unit-icon" src="/assets/img/unit-icon.png">
            <p class="unit-name">{{ ::unit.Name }}</p>
            <div class="secondary-content">
                <a ng-href="/dashboard/unit/{{ ::unit.Id }}/details" class="waves-effect waves-light white black-text btn">Details</a>
                <a class="waves-effect waves-light btn">Reports</a>
            </div>
        </li>
    </ul>
    <div ng-class="(isBusy) ? 'center loading-active' : 'center loading-inactive' ">
        <img src="/assets/img/loading.svg" width="55" />
    </div>

    <a href="#createUnit" class="btn btn-floating btn-large waves-effect waves-light add-unit-button" ng-hide="isBusy" modal><i class="material-icons">add</i></a>

    <div id="createUnit" class="modal add-detail-modal">
        <div class="modal-content">
            <h4>Create unit</h4>
            <input id="unitName" placeholder="Type unit name here" type="text" ng-model="unitName" />
        </div>
        <div class="modal-footer">
            <a href="#" ng-click="createUnit(unitName)" class="modal-action modal-close waves-effect waves-green btn-flat" ng-hide="isBusy">Add</a>
        </div>
    </div>
</div>