<div ui-view="shell"></div>
<div class="container main-container units">
    <div class="row header-row">
        <div class="col l3 m4 s12">
            <h2>Units</h2>
        </div>
        <div class="col l5 m5 s10">
            <input class="search" ng-model="searchTerm"
                   id="search" type="search" placeholder="Type here to search units">
        </div>
        <div class="col l1 m1 s1 offset-l3 offset-m1">
            <a ng-href="/dashboard/notifications" class="center">
                <i class="material-icons notification-icon">notifications</i>
            </a>
        </div>
    </div>
    <ul class="collection units">
        <li class="collection-item avatar" ng-repeat="unit in units | filter:searchTerm">
            <img class="unit-icon" src="/assets/img/unit-icon.png">
            <p class="unit-name">{{ unit.Name }}</p>
            <div class="secondary-content">
                <a ng-href="/dashboard/unit/{{ unit.Id }}/settings" class="waves-effect waves-light white black-text btn">Settings</a>
                <a ng-href="/dashboard/reports/{{ unit.Id }}" class="waves-effect waves-light btn">Reports</a>
            </div>
        </li>
    </ul>
    <div class="row create-unit">
        <form role="form" name="createUnitForm" novalidate>
            <div class="col l11 m11 s10">
                <input ng-class="{ 'valid' : createUnitForm.unitName.$touched && createUnitForm.unitName.$valid, 'invalid' : createUnitForm.unitName.$touched && createUnitForm.unitName.$invalid }" id="unitName" name="unitName" placeholder="New unit name" type="text" ng-model="unitName" ng-minlength="5" ng-maxlength="50" required />
                <small class="validation" ng-show="createUnitForm.unitName.$touched && createUnitForm.unitName.$error.required">Unit name is required.</small>
                <small class="validation" ng-show="createUnitForm.unitName.$touched && createUnitForm.unitName.$error.minlength">Unit name has to contain atleast 5 characters.</small>
                <small class="validation" ng-show="createUnitForm.unitName.$touched && createUnitForm.unitName.$error.maxlength">Unit name cannot be more than 50 characters long.</small>
            </div>
            <div class="col l1 m1 s2">
                <button href="#" class="btn-floating waves-effect waves-light" ng-click="createUnit(unitName)" ng-disabled="createUnitForm.$invalid || createUnitForm.$pristine">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </form>
    </div>
</div>