<ion-view name="tab-directions" view-title="Directions">
    <ion-content class="padding has-header">
        <div class="map-container">
            Ovde gore ide mapa
        </div>
    </ion-content>
    <div class="directions-container">
        <div class="list card">
            <p class="item item-icon-left">
                <i class="icon ion-ios-navigate-outline"></i>
                Turn right on Krležina 22
            </p>
            <p class="item item-icon-left">
                <i class="icon ion-ios-navigate-outline"></i>
                Continue and change to another lane on highway
            </p>
            <p class="item item-icon-left">
                <i class="icon ion-ios-navigate-outline"></i>
                Test
            </p>
            <p class="item item-icon-left">
                <i class="icon ion-ios-navigate-outline"></i>
                Test
            </p>
        </div>
    </div> 
</ion-view>
