<ion-view name="tab-home" view-title="Home">
    <ion-content class="padding has-header">
        <div class="home-container" ng-if="units.length != 0">
            <button ng-click="openSubmitDialog()" class="button icon ion-android-add button-new-report"></button>
            <div class="report-inputs" ng-if="!isBusy">
                <label class="item item-input item-select">
                    <div class="input-label">Unit</div>
                    <select ng-change="loadBasicProperties(report.UnitId)" ng-init="report.UnitId = selectedUnitId" ng-model="report.UnitId" ng-options="unit.Id as unit.Name for unit in units"></select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">Category</div>
                    <select ng-model="report.CategoryId" ng-options="category.Id as category.Name for category in categories"></select>
                </label>
                <ion-checkbox ng-model="reportDetails.useCurrentLocation" style="border-bottom: none;">Use current location</ion-checkbox>
                <label ng-if="!reportDetails.useCurrentLocation" class="item item-input item-select">
                    <div class="input-label">Location</div>
                    <select ng-model="report.LocationId" ng-options="location.Id as location.Name for location in locations"></select>
                </label>
            </div>
        </div>
        <div class="home-container" ng-if="units.length == 0">
            <p class="empty-warning">You don't belong to any units. Please contact your administrator in order to start reporting.</p>
        </div>
    </ion-content>
</ion-view>

<script id="submitReportWithAdditionalInformationModal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar-positive">
            <div class="title header-item">Additional information</div>
            <span ng-click="modal.hide()"><i style="position: absolute; right:7px; top:10px; font-weight: 500;" class="material-icons">clear</i></span>
        </ion-header-bar>
        <ion-content class="padding">
            <div class="home-container modal">
                <div class="report-inputs">
                    <div class="row" ng-if="!reportVideoData">
                        <div class="col">
                        </div>
                        <div class="col">
                            <span class="camera-button" ng-click="takePicture()"><i class="material-icons">add_a_photo</i></span>
                        </div>
                        <div class="col">
                            <span class="camera-button" ng-click="selectVideo()"><i class="material-icons">video_library</i></span>
                        </div>
                        <div class="col">
                        </div>
                    </div>
                    <span ng-if="reportVideoData" class="camera-button" ng-click="takePicture()"><i class="material-icons">add_a_photo</i></span>
                    <p style="text-align: center;" ng-if="reportVideoData.length != 0">{{ reportVideoData }}</p>
                    <p style="text-align: center;" ng-if="reportPicturesData.length != 0 && ionic.Platform.isAndroid()">{{ reportPicturesData.length }} pictures added</p>

                    <div ng-if="ionic.Platform.IsIOS">
                        <div class="row" ng-repeat="reportPictureData in reportPicturesData" ng-if="$index % 4 === 0">
                            <div class="col col-33" ng-if="$index < reportPicturesData.length"><img style="width: 100%;" ng-src="{{ reportPicturesData[$index] }}"></div>
                            <div class="col col-33" ng-if="$index + 1 < reportPicturesData.length"><img style="width: 100%;" ng-src="{{ reportPicturesData[$index + 1] }}"></div>
                            <div class="col col-33" ng-if="$index + 2 < reportPicturesData.length"><img style="width: 100%;" ng-src="{{ reportPicturesData[$index + 2] }}"></div>
                        </div>
                    </div>
                    
                    <label class="item item-input item-stacked-label" style="margin-top: 0;">
                        <span class="input-label">Description</span>
                        <textarea ng-model="report.Description"></textarea>
                    </label>
                    <div ng-repeat="customProperty in customProperties">
                        <ion-checkbox ng-if="customProperty.CustomPropertyType == 'CheckBox'" ng-model="customPropertyValues[customProperty.Id]" style="border-bottom: none;">{{ customProperty.Name }}</ion-checkbox>
                        <label ng-if="customProperty.CustomPropertyType == 'Field'" class="item item-input item-stacked-label">
                            <span class="input-label">{{ customProperty.Name }}</span>
                            <input ng-model="customPropertyValues[customProperty.Id]" type="text">
                        </label>
                    </div>
                </div>
                <button class="button button-create-report" ng-click="submitReportWithAdditionalInformation()">Submit report</button>
            </div>
        </ion-content>
    </ion-modal-view>
</script>
