<div id="shell" ui-view="shell"></div>
<div class="container main-container statistics" ng-controller="statsController as vm">
    <div class="row header-row">
        <div class="col l3 m4 s8 offset-s2">
            <h2>Statistics</h2>
        </div>
        <div class="col l1 m1 s1 offset-l8 offset-m7 offset-s0" style="text-align: right;">
            <a ng-href="/notifications" class="center">
                <a ng-href="/notifications" class="center">
                    <i ng-if="!vm.notificationAvailable" class="material-icons notification-icon">notifications</i>
                    <i ng-if="vm.notificationAvailable" style="color: #18C0D6;" class="material-icons notification-icon">notifications</i>
                </a>
            </a>
        </div>
    </div>
    <canvas id="reportsChart" class="chart chart-line" chart-data="vm.chartData" chart-labels="vm.chartLabels" chart-legend="true" chart-series="vm.chartSeries"></canvas>
    <div class="switch">
        <label>
            Past month
            <input type="checkbox" ng-model="isPastMonth">
            <span class="lever"></span>
            All time
        </label>
    </div>
    <div id="quartal" ng-if="!isPastMonth">
        <h3 ng-if="vm.stats.ThisMonthNumbers.ReportsCount > 1"><span>{{ vm.stats.ThisMonthNumbers.ReportsCount }}</span> reports submitted in <span>{{ vm.chartLabels[3] }}</span></h3>
        <h3 ng-if="vm.stats.ThisMonthNumbers.ReportsCount === 1"><span>{{ vm.stats.ThisMonthNumbers.ReportsCount }}</span> report submitted in <span>{{ vm.chartLabels[3] }}</span></h3>
        <h3 ng-if="vm.stats.ThisMonthNumbers.ReportsCount === 0">Can't display statistics because no reports were submitted this month so far.</h3>
        <div class="row" ng-if="vm.stats.ThisMonthNumbers.ReportsCount !== 0">
            <div class="col l4 m6 s12">
                <div class="card small">
                    <h2 class="cyan-text center-align">{{ vm.stats.ThisMonthNumbers.ReportsProcessing }}</h2>
                    <p class="lead grey-text center-align">REPORTS PROCESSING</p>
                </div>
            </div>
            <div class="col l4 m6 s12">
                <div class="card small">
                    <h2 class="cyan-text center-align">{{ vm.stats.ThisMonthNumbers.ReportsCompleted }}</h2>
                    <p class="lead grey-text center-align">REPORTS COMPLETED</p>
                </div>
            </div>
            <div class="col l4 m6 s12">
                <div class="card small">
                    <h2 class="cyan-text center-align">{{ vm.stats.ThisMonthNumbers.ReportsFailed}}</h2>
                    <p class="lead grey-text center-align">REPORTS FAILED</p>
                </div>
            </div>
            <div class="col l4 m6 s12">
                <div class="card small">
                    <h2 class="cyan-text center-align">{{ vm.stats.ThisMonthPercentages.AverageReportsProcessing.round(0) }}%</h2>
                    <p class="lead grey-text center-align">REPORTS PROCESSING</p>
                </div>
            </div>
            <div class="col l4 m6 s12">
                <div class="card small">
                    <h2 class="cyan-text center-align">{{ vm.stats.ThisMonthPercentages.AverageReportsCompleted.round(0) }}%</h2>
                    <p class="lead grey-text center-align">REPORTS COMPLETED</p>
                </div>
            </div>
            <div class="col l4 m6 s12">
                <div class="card small">
                    <h2 class="cyan-text center-align">{{ vm.stats.ThisMonthPercentages.AverageReportsFailure.round(0) }}%</h2>
                    <p class="lead grey-text center-align">REPORTS FAILED</p>
                </div>
            </div>
        </div>
    </div>
    <div id="allTime" ng-if="isPastMonth">
        <h3 ng-if="vm.stats.AllTime.Numbers.ReportsCount > 1"><span>{{ vm.stats.AllTime.Numbers.ReportsCount }}</span> reports submitted total
        </h3>
        <h3 ng-if="vm.stats.AllTime.Numbers.ReportsCount === 1"><span>{{ vm.stats.AllTime.Numbers.ReportsCount }}</span> report submitted total
        </h3>
        <h3 ng-if="vm.stats.AllTime.Numbers.ReportsCount === 0">Can't display statistics because no reports were submitted total.</h3>
        <div class="row" ng-if="vm.stats.AllTime.Numbers.ReportsCount !== 0">
            <div class="col l4 m6 s12">
                <div class="card small">
                    <h2 class="cyan-text center-align">{{ vm.stats.AllTime.Numbers.ReportsProcessing }}</h2>
                    <p class="lead grey-text center-align">REPORTS PROCESSING</p>
                </div>
            </div>
            <div class="col l4 m6 s12">
                <div class="card small">
                    <h2 class="cyan-text center-align">{{ vm.stats.AllTime.Numbers.ReportsCompleted }}</h2>
                    <p class="lead grey-text center-align">REPORTS COMPLETED</p>
                </div>
            </div>
            <div class="col l4 m6 s12">
                <div class="card small">
                    <h2 class="cyan-text center-align">{{ vm.stats.AllTime.Numbers.ReportsFailed}}</h2>
                    <p class="lead grey-text center-align">REPORTS FAILED</p>
                </div>
            </div>
            <div class="col l4 m6 s12">
                <div class="card small">
                    <h2 class="cyan-text center-align">{{ vm.stats.AllTime.Percentages.AverageReportsProcessing.round(0) }}%</h2>
                    <p class="lead grey-text center-align">REPORTS PROCESSING</p>
                </div>
            </div>
            <div class="col l4 m6 s12">
                <div class="card small">
                    <h2 class="cyan-text center-align">{{ vm.stats.AllTime.Percentages.AverageReportsCompleted.round(0) }}%</h2>
                    <p class="lead grey-text center-align">REPORTS COMPLETED</p>
                </div>
            </div>
            <div class="col l4 m6 s12">
                <div class="card small">
                    <h2 class="cyan-text center-align">{{ vm.stats.AllTime.Percentages.AverageReportsFailure.round(0) }}%</h2>
                    <p class="lead grey-text center-align">REPORTS FAILED</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="reportCreatedModal">
    <div class="report-modal">
        <h1>New report received!</h1>
        <ui-gmap-google-map control="map.control" center="map.center" zoom="map.zoom" styles="map.styles" options="map.options" refresh="true">
            <ui-gmap-marker options="{icon:'assets/img/notification-marker.png'}" coords="reportMarker" idkey="0">
            </ui-gmap-marker>
        </ui-gmap-google-map>
        <p>Submitted by <span>{{ arrivedReport.Creator.UserName }}</span> at <span>{{ arrivedReport.Timestamp | date: "HH:mma" }}</span></p>
        <div class="row">
            <div class="col l6 m6 s12">
                <a class="waves-effect waves-light white black-text btn" ng-click="closeThisDialog(0)">Dismiss</a>
            </div>
            <div class="col l6 m6 s12">
                <a ng-href="/report/{{ arrivedReport.Id }}" ng-click="closeThisDialog(0)" class="waves-effect waves-light btn details-button">Details</a>
            </div>
        </div>
    </div>
</script>

<audio id="notificationSound">
    <source src="/assets/sound/notification.mp3" type="audio/mpeg">
</audio>