<div ui-view="shell"></div>
<div class="container main-container messages">
    <div class="row header-row">
        <div class="col l3 m4 s12">
            <h2 style="font-size: 36px">Messaging</h2>
        </div>
        <div class="col l5 m5 s10">
            <input class="search" ng-model="searchTerm"
                   id="search" type="search" placeholder="Type here to search people">
        </div>
        <div class="col l1 m1 s1 offset-l3 offset-m1">
            <a ng-href="/dashboard/notifications" class="center">
                <i class="material-icons notification-icon">notifications</i>
            </a>
        </div>
    </div>

    <div class="row initiate-messaging">
        <form role="form" name="initiateMessagingForm" novalidate>
            <div class="col l11 m11 s10">
                <input ng-class="{ 'valid' : initiateMessagingForm.userName.$touched && initiateMessagingForm.userName.$valid, 'invalid' : initiateMessagingForm.userName.$touched && initiateMessagingForm.userName.$invalid }" id="userName" name="userName" placeholder="Username you want to send a message to" type="text" ng-model="userName" required />
                <small class="validation" ng-show="initiateMessagingForm.userName.$touched && initiateMessagingForm.userName.$error.required">Username is required.</small>
            </div>
            <div class="col l1 m1 s2">
                <button href="#" class="btn-floating waves-effect waves-light" ng-click="initiateMessaging(userName)" ng-disabled="initiateMessagingForm.$invalid || initiateMessagingForm.$pristine">
                    <i class="material-icons">chat_bubble</i>
                </button>
            </div>
        </form>
    </div>

    <div class="row people-row" ng-if="messagedUsers.length > 0">
        <h4>Messaged users</h4>
        <ul class="collection">
            <li class="collection-item" ng-repeat="messagedUser in messagedUsers">
                <div>
                    {{ messagedUser.UserName }}<a ng-href="/dashboard/messages/{{ messagedUser.Id }}" class="secondary-content"><i class="material-icons">forum</i></a>
                </div>
            </li>
        </ul>
    </div>
</div>