<div id="shell" ui-view="shell"></div>
<div class="container main-container messages">
    <div class="row header-row">
        <div class="col l3 m4 s12">
            <h2 style="font-size: 36px">Messaging</h2>
        </div>
        <div class="col l5 m5 s10">
            <input class="search" ng-model="searchTerm"
                   id="search" type="search" placeholder="Type here to search people">
        </div>
        <div class="col l1 m2 s1 offset-l3 offset-m1">
            <a ng-href="/dashboard/notifications" class="center">
                <i ng-if="!notificationAvailable" class="material-icons notification-icon">notifications</i>
                <i ng-if="notificationAvailable" style="color: #18C0D6;" class="material-icons notification-icon">notifications</i>
            </a>
        </div>
    </div>

    <div class="row initiate-messaging">
        <form role="form" name="initiateMessagingForm" novalidate>
            <div class="col l11 m11 s10">
                <input id="userName" name="userName" placeholder="Username you want to send a message to" type="text" ng-model="userName" required/>
            </div>
            <div class="col l1 m1 s2">
                <button href="#" class="btn-floating waves-effect waves-light" ng-click="initiateMessaging(userName)" ng-disabled="initiateMessagingForm.$invalid || initiateMessagingForm.$pristine">
                    <i class="material-icons">chat_bubble</i>
                </button>
            </div>
        </form>
    </div>

    <div class="row people-row" ng-if="messagedUsers.length > 0">
        <h4>Messaged users</h4>
        <ul class="collection">
            <li class="collection-item" ng-repeat="messagedUser in messagedUsers">
                <img ng-src="{{ messagedUser.ProfilePhoto.Base64 }}" alt="" class="circle">
                <span>{{ messagedUser.UserName }}</span><a ng-href="/dashboard/messages/{{ messagedUser.Id }}" class="secondary-content"><i class="material-icons">forum</i></a>
            </li>
        </ul>
    </div>
</div>

<script type="text/ng-template" id="reportCreatedModal">
    <div class="report-modal">
        <h1>New report received!</h1>
        <ng-map disable-default-u-i="true" style="height: 200px;" center="{{ arrivedReport.Location.Latitude }}, {{ arrivedReport.Location.Longitude }}" zoom="16" styles="[{stylers:[{hue:'#18C0D6'},{visibility:'simplified'},{gamma:0.5},{weight:0.5}]},{featureType:'water',stylers:[{color:'#37474f'}]}]">
            <marker position="{{ arrivedReport.Location.Latitude }}, {{ arrivedReport.Location.Longitude }}">
        </ng-map>
        <p>Submitted by <span>{{ arrivedReport.Creator.UserName }}</span> at <span>{{ arrivedReport.Timestamp | date: "HH:mma" }}</span></p>
        <div class="row">
            <div class="col l6 m6 s12">
                <a class="waves-effect waves-light white black-text btn" ng-click="closeThisDialog(0)">Dismiss</a>
            </div>
            <div class="col l6 m6 s12">
                <a ng-href="/dashboard/report/{{ arrivedReport.Id }}" ng-click="closeThisDialog(0)" class="waves-effect waves-light btn details-button">Details</a>
            </div>
        </div>
    </div>
</script>

<audio id="notificationSound">
    <source src="/assets/sound/notification.mp3" type="audio/mpeg">
</audio>