<div ui-view="shell"></div>

<div class="container main-container reports">
    <div class="row header-row">
        <div class="col l3 m4 s11">
            <h2>Details</h2>
        </div>
        <div class="col l1 m1 s1 offset-l8 offset-m7 offset-s0">
            <a ng-href="#" class="center">
                <i class="material-icons notification-icon">notifications</i>
            </a>
        </div>
    </div>

    <div class="row head-information">
        <p>Submitted by <span>{{ report.Creator.Name }}</span> at <span>{{ report.Timestamp | date: "h:mma" }}</span> on <span>{{ report.Timestamp | date: "MM-dd-yyyy" }}</span>
        
    </div>
    <div class="row report-map">
        <map center="{{ report.Location.Latitude }}, {{ report.Location.Longitude }}" zoom="19" styles="[{stylers:[{hue:'#18C0D6'},{visibility:'simplified'},{gamma:0.5},{weight:0.5}]},{featureType:'water',stylers:[{color:'#37474f'}]}]">
            <custom-marker position="{{ report.Location.Latitude }}, {{ report.Location.Longitude }}">
                <img src="/assets/img/map-marker.png"/>
            </custom-marker>
        </map>
    </div>
    <div class="row general-information">
        <h4>General information</h4>
        <div class="col s12" style="padding: 0">
            <h5>Description</h5>
            <p>{{ report.Description }}</p>
        </div>
        <div class="col l4 m4 s12" style="padding: 0">
            <h5>Category</h5>
            <p>{{ report.Category.Name }}</p>
        </div>
        <div class="col l4 m4 s12" style="padding: 0">
            <h5>Location</h5>
            <p>{{ report.Location.Name }} ({{ report.Location.Latitude }}, {{ report.Location.Longitude }})</p>
        </div> 
    </div>
    <div class="row additional-details">
        <h4>Additional details</h4>
        <div class="col s12" ng-repeat="detail in report.Details.CustomPropertyValues">
            <h5>{{ detail.CustomProperty.Name }}</h5>
            <p ng-if="detail.CustomProperty.CustomPropertyType == 'CheckBox' && detail.SerializedValue == 'True' ">Yes</p>
            <p ng-if="detail.CustomProperty.CustomPropertyType == 'CheckBox' && detail.SerializedValue == 'False' ">No</p>
            <p ng-if="detail.CustomProperty.CustomPropertyType == 'Field' ">{{ detail.SerializedValue }}</p>
        </div>
    </div>
</div>