<div ui-view="shell"></div>
<div class="container main-container reports" id="report-document">
    <div class="row header-row">
        <div class="col l3 m4 s8 offset-s2">
            <h2>Details</h2>
        </div>
        <div class="col l1 m1 s1 offset-l8 offset-m7 offset-s0" style="text-align: right;">
            <a ng-href="/dashboard/notifications" class="center" style="text-align: right;">
                <i ng-if="!notificationAvailable" class="material-icons notification-icon">notifications</i>
                <i ng-if="notificationAvailable" style="color: #18C0D6;" class="material-icons notification-icon">notifications</i>
            </a>
        </div>
    </div>

    <div class="row head-information" ng-if="!isLoading">
        <p class="lead">
        <i style="position: relative; top: 5px;" class="material-icons">today</i>
        Submitted by <span>{{ report.Creator.UserName }}</span> at <span>{{ report.Timestamp | date: "h:mma" }}</span> on <span>{{ report.Timestamp | date: "MM-dd-yyyy" }}</span>
    </div>
    <div class="row report-map z-depth-1-half" ng-if="!isLoading">
        <map center="{{ report.Location.Latitude }}, {{ report.Location.Longitude }}" zoom="19" styles="[{stylers:[{hue:'#18C0D6'},{visibility:'simplified'},{gamma:0.5},{weight:0.5}]},{featureType:'water',stylers:[{color:'#37474f'}]}]">
            <info-window>
                <div ng-non-bindable="">
                    <strong>{{ report.Location.Name }}</strong> <br/>
                    Lat: {{anchor.getPosition().lat()}}<br/>
                    Lng: {{anchor.getPosition().lng()}}<br/>
                </div>
            </info-window>
            <custom-marker position="{{ report.Location.Latitude }}, {{ report.Location.Longitude }}" on-click="showTitle()">
                <img src="/assets/img/report-marker.png"/>
            </custom-marker>
        </map>
    </div>
    <div class="row report-assignment" ng-if="!isLoading">
        <p ng-if="assignedUser">
            <span>{{ assignedUser.UserName}}</span> is currently assigned to resolve this report.
        </p>
        <form role="form" name="createAssignmentForm" novalidate>
            <div class="col l11 m11 s10" style="padding: 0;">
                <input style="margin-bottom: 0;" ng-class="{ 'valid' : createAssignmentForm.userName.$touched && createAssignmentForm.userName.$valid, 'invalid' : createAssignmentForm.userName.$touched && createAssignmentForm.userName.$invalid }" id="userName" name="userName" placeholder="Type username to assign for resolving" type="text" ng-model="userName" required/>
                <small class="validation" ng-show="createAssignmentForm.userName.$touched && createAssignmentForm.userName.$error.required">Username is required.</small>
            </div>
            <div class="col l1 m1 s2">
                <button href="#" class="btn-floating waves-effect waves-light" ng-click="assignUser(userName)" ng-disabled="createAssignmentForm.$invalid || createAssignmentForm.$pristine || isBusy">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </form>
    </div>

    <div class="row general-information" ng-if="!isLoading">
        <h3>General information</h3>
        <div class="col s12" style="padding: 0">
            <h5 style="margin-left: 0; margin-bottom: 0;">Description</h5>
            <p ng-if="report.Description">{{ report.Description }}</p>
            <p ng-if="!report.Description">Client has not provided a description for this report.</p>
        </div>
        <div class="col l4 m4 s12" style="padding: 0">
            <h5 style="margin-left: 0; margin-bottom: 0;">Category</h5>
            <p style="margin-left: 0; margin-bottom: 0;">
                {{ report.Category.Name }}
            </p>
        </div>
    </div>
    <div class="row additional-details" ng-if="!isLoading">
        <h3>Additional details</h3>

        <div ng-if="report.Details.CustomPropertyValues.length > 0" ng-repeat="detail in report.Details.CustomPropertyValues">
            <div class="row row-no-margin" style="margin-left: 0; margin-bottom: 0;">
                <div class="col l6 m6 s12">
                    <h5 class="gray-text" style="font-weight: normal; color: gray">{{ detail.CustomProperty.Name }}</h5>
                </div>
                <div class="col l6 m6 s12">
                    <p style="font-weight: 500" ng-if="detail.CustomProperty.CustomPropertyType == 'CheckBox' && detail.SerializedValue == 'True'" class="green-text">
                        Yes
                    </p>
                    <p style="font-weight: 500" ng-if="detail.CustomProperty.CustomPropertyType == 'CheckBox' && detail.SerializedValue == 'False'" class="red-text">
                        No
                    </p>
                    <p style="font-weight: 500" ng-if="detail.CustomProperty.CustomPropertyType == 'Field'" class="truncate"><strong>{{ detail.SerializedValue }}</strong>
                    </p>
                </div>
            </div>
        </div>
        <p ng-if="report.Details.CustomPropertyValues.length == 0">Client has not provided any additional details for this report.</p>
    </div>
    <div class="row resources" ng-if="!isLoading">
        <h3>Multimedia</h3>
        <div class="col l4 m4 s12" ng-if="report.Resources.length > 0" ng-repeat="resource in report.Resources">
            <img materialboxed class="materialboxed responsive-img card" ng-src="{{ resource.Base64 }}">
        </div>
        <p style="margin-top: 0;" ng-if="report.Resources.length == 0">Client has not provided any pictures for this report.</p>
    </div>
    <div class="row actions" ng-if="!isLoading || printMode">
        <h3 style="margin-top: 0;">Actions</h3>

        <div class="col l8 m6 s12" style="padding-left: 0;">
            <select name="reportStatus" class="" material-select watch ng-model="newStatus" ng-change="changeStatus(report.Id, newStatus)">
                <option value="" disabled selected style="font-size: 10px;">Report Status</option>
                <option value="Created">Created</option>
                <option value="Processing">Processing</option>
                <option value="Completed">Completed</option>
                <option value="Failure">Failure</option>
            </select>
        </div>
        <div class="col l4 m6 s12" style="padding-left: 0;">
            <a style="margin-top: 10px;" class="waves-effect waves-light btn red white-text center-align" ng-click="deleteReport(report.Id)"><i class="material-icons left">delete</i>DELETE</a>
        </div>
        <div class="col s12" style="padding-left: 0;">
            <a class="waves-effect waves-light btn" ng-click="generatePdf(report)"><i class="material-icons right">description</i> GENERATE PDF</a>
        </div>
    </div>
</div>

<script type="text/ng-template" id="reportCreatedModal">
    <div class="report-modal">
        <h1>New report received!</h1>
        <ng-map disable-default-u-i="true" style="height: 200px;" center="{{ arrivedReport.Location.Latitude }}, {{ arrivedReport.Location.Longitude }}" zoom="16" styles="[{stylers:[{hue:'#18C0D6'},{visibility:'simplified'},{gamma:0.5},{weight:0.5}]},{featureType:'water',stylers:[{color:'#37474f'}]}]">
            <marker position="{{ arrivedReport.Location.Latitude }}, {{ arrivedReport.Location.Longitude }}">
        </ng-map>
        <p>Submitted by <span>{{ arrivedReport.Creator.UserName }}</span> at <span>{{ arrivedReport.Timestamp | date: "HH:mma" }}</span></p>
        <div class="row">
            <div class="col l6 m6 s12">
                <a class="waves-effect waves-light white black-text btn" ng-click="closeThisDialog(0)">Dismiss</a>
            </div>
            <div class="col l6 m6 s12">
                <a ng-href="/dashboard/report/{{ arrivedReport.Id }}" ng-click="closeThisDialog(0)" class="waves-effect waves-light btn details-button">Details</a>
            </div>
        </div>
    </div>
</script>