<ion-view name="tab-messages" view-title="Messages">
    <ion-content class="padding has-header">
        <div class="messages-container">
            
        </div>
    </ion-content>
    <div class="bar bar-footer send-message-bar">
        <div class="item item-input-inset send-message">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Type your message here">
            </label>
            <a>
                <i class="material-icons">send</i>
            </a>
        </div>
    </div>
</ion-view>
