.image-background {
    background: url(assets/img/login.jpg) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}


/*-----------begin BAR-----------*/
.bar.bar-positive {
    border-color: #00ACC1;
    background-color: #00ACC1;
    background-image: linear-gradient(0deg, #00ACC1, #00ACC1 50%, transparent 50%);
    color: #fff;
}

    .bar.bar-positive .title {
        color: #fff;
    }

    .bar.bar-positive.bar-footer {
        background-image: linear-gradient(180deg, #00ACC1, #00ACC1 50%, transparent 50%);
    }
/*-----------end BAR-----------*/

/*-----------begin TABS-----------*/

.tabs-striped.tabs-positive .tabs {
    background-color: #00ACC1;
}

.tabs-positive > .tabs,
.tabs.tabs-positive {
    border-color: #00ACC1;
    background-color: #00ACC1;
    background-image: linear-gradient(0deg, #00ACC1, #00ACC1 50%, transparent 50%);
    color: #fff;
}

.tabs-background-positive .tabs,
.tabs-background-positive > .tabs {
    background-color: #00ACC1;
    background-image: linear-gradient(0deg, #00ACC1, #00ACC1 50%, transparent 50%);
    border-color: #00ACC1;
}

.tabs-positive > .tabs .tab-item .badge,
.tabs.tabs-positive .tab-item .badge {
    background-color: #fff;
    color: #0097A7;
}


ion-tabs.tabs-color-active-positive .tab-item {
    color: #444;
}

    ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
        color: #00ACC1;
    }

/*-----------end TABS-----------*/

/*-----------begin LOGIN-----------*/

.login-container .login-inputs label {
    border: none;
}

.login-container .login-inputs .input-label {
    color: #ffffff;
}

.login-container .login-inputs input {
    color: #ffffff;
    border: none;
}

.login-container .login-inputs {
    margin-bottom: 20px;
}

.login-container .login-button {
    background-color: #00a2b7;
    border-color: #00a2b7;
}

.login-container .login-button:hover {
    background-color: #08c2da;
    border-color: #08c2da;
}

.login-container .login-button.activated {
    background-color: #007382;
    border-color: #007382; 
}

.login-container h1 {
    font-weight: 100;
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
    font-size: 45px;
}

/*-----------end LOGIN-----------*/

/*-----------begin HOME-----------*/

.home-container .button-new-report {
    background-color: #14B1C4;
    color: #ffffff;
    border-radius: 50%;
    width: 165px;
    height: 165px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.home-container .button-create-report {
    background-color: #14B1C4;
    color: #ffffff;
    width: 100%;
    border-radius: 3%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.home-container .button-new-report:before {
    font-size: 75px;
}

.home-container button.button-new-report:hover {
    color: #ffffff;
}

.home-container .button-new-report.activated {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #1293A3;
}

.home-container .report-inputs {
    margin-top: 15px; 
}

.home-container .report-inputs label.item-checkbox {
    padding-left: 45px;
}

.home-container .report-inputs label.item-checkbox .checkbox {
    left: 0px;
}

.home-container .report-inputs label.item-checkbox .checkbox input:checked+.checkbox-icon:before, .checkbox input:checked:before {
    background: #00ACC1;
    border-color: #00A1B5;
}


.home-container .report-inputs label {
    margin-top: 15px;
    border-left: none;
    border-top: none;
    border-right: none;
}

.home-container .report-inputs .input-label {
    color: #00ACC1;
    font-weight: 500;
}

.home-container.modal .report-inputs textarea {
    height: 100px;
}

.home-container.modal .report-inputs {
    margin-top: 0; 
}

.home-container.modal .report-inputs .camera-button {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.home-container.modal .report-inputs .camera-button i {
    font-size: 50px;
    color: #757575;
}

.loading-spinner svg {
    width: 50px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px; 
}

.popup-container.popup-showing.active .popup {
    background-color: #ffffff;
    border-radius: 4px;
}

.popup-container.popup-showing.active .popup button.button-default {
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.popup-container.popup-showing.active .popup button.button-positive {
    border: none;
    border-radius: 2px;
    background-color: #00ACC1;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.popup-container.popup-showing.active .popup .popup-head h5 {
    font-size: 16px;
}

/*-----------end HOME-----------*/

/*-----------begin REPORTS-----------*/

.reports-container .card {
    border-radius: 0;
    border: none;
}

.reports-container .card .status, .reports-container .card .description, .reports-container .card .details {
    border: none;
}

.reports-container .card .description {
    padding-top: 10px;
    padding-bottom: 5px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.reports-container .card .status {
    background-color: #00CEE8;
    
}

.reports-container .card .status p {
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
}

.reports-container .card .details {
    padding-top: 5px;
}

.reports-container .card .details p {
    text-align: center;
}

.reports-container .card .details p span{
    font-weight: 500;
    color: #10B0C4;
}

/*-----------end REPORTS-----------*/

/*-----------begin MESSAGING-----------*/

.messaging-container li.item {
    border: none; 
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16), 0 1px 9px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16), 0 1px 9px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16), 0 1px 9px 0 rgba(0, 0, 0, 0.12);
    margin-top: 15px;
}

.messaging-container li.item p{
    font-size: 16px;
    font-weight: 500;
    color: #10B0C4;
}

/*-----------end MESSAGING-----------*/

/*-----------begin MESSAGES-----------*/

.bar.bar-footer .item.send-message {
    width: 100%;
}

.platform-ios .bar.bar-footer.send-message-bar {
    border: none;
    margin-bottom: 50px;
}

.platform-android .bar.bar-footer.send-message-bar {
    border: none;
}

.bar.bar-footer .item.send-message {
    border: none;
}
.bar.bar-footer .item.send-message a {
    display: block;
    width: 10%; 
}

.bar.bar-footer .item.send-message i {
    position: relative;
    left: 12px;
    top: 3px;
    color: #00ACC1;
}

.bar.bar-footer .item.send-message label {
    width: 100%;
}

.bar.bar-footer .item.send-message input {
    width: 100%;
}

/*-----------end MESSAGES-----------*/