<div class="shell-wrapper">
    <a href="#" data-activates="nav-mobile" class="button-collapse" data-sidenav="left" data-closeonclick="false"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="side-nav fixed shell-navigation" style="width: 240px">
        <li class="logo">
            <img src="/assets/img/menu-heading.png" />
        </li>
        <li ng-class="(currentState.name == 'Units') ? 'item active' : 'item'">
            <a class="waves-effect">
                <img src="/assets/img/units-icon.png"/>Units
            </a>
        </li>
        <li ng-class="(currentState.name == 'Reports') ? 'item active' : 'item'">
            <a class="waves-effect">
                <img src="/assets/img/reports-icon.png"/>Reports
            </a>
        </li>
        <li ng-class="(currentState.name == 'Statistics') ? 'item active' : 'item'">
            <a class="waves-effect">
                <img src="/assets/img/statistics-icon.png"/>Statistics
            </a>
        </li>
        <li class="spacer"></li>
        <li ng-class="(currentState.name == 'Account.Manage') ? 'item active' : 'item'"><a ng-href="/account/manage/{{ authData.userName }}" class="waves-effect waves-teal"><img src="/assets/img/account-icon.png" />{{authData.userName}}</a></li>
        <li ng-class="(currentState.name == 'Settings') ? 'item active' : 'item'"><a ng-href="/settings" class="waves-effect waves-teal"><img src="/assets/img/settings-icon.png" />Settings</a></li>
        <li class="item"><a ng-click="logOut()" class="waves-effect">
            <img src="/assets/img/logout-icon.png"/>Log out
        </a></li>
    </ul>
</div>