<div class="shell-wrapper">
    <a href="#" data-activates="nav-mobile" class="button-collapse" data-sidenav="left" data-closeonclick="false"><i class="material-icons">menu</i></a>

    <ul id="nav-mobile" class="side-nav fixed shell-navigation" style="width: 240px">
        <li class="logo">
            <img src="/assets/img/menu-heading.png" />
        </li>
        <li class="item"><a class="waves-effect"><img src="/assets/img/units-icon.png" />Units</a></li>
        <li class="item"><a class="waves-effect"><img src="/assets/img/reports-icon.png" />Reports</a></li>
        <li class="item"><a class="waves-effect"><img src="/assets/img/statistics-icon.png" />Statistics</a></li>
        <div class="spacer"></div>
        <li class="item"><a ng-href="/login" class="waves-effect waves-teal"><img src="/assets/img/account-icon.png" />bborovic</a></li>
        <li class="item"><a ng-href="/login" class="waves-effect waves-teal"><img src="/assets/img/settings-icon.png" />Settings</a></li>
    </ul>
</div>