<ion-view name="tab-assignments" view-title="Assignments">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-content class="padding has-header">
        <div ng-if="report && !isLoading" class="assignments-container">
            <p class="main-text">You have been assigned by <span>{{ assignment.AdminUserName }}</span> to resolve the report submitted by <span>{{ report.Creator.UserName }}</span></p>
            <a class="button button-block button-positive" ng-click="viewDirections()">
                <i class="ion ion-ios-navigate-outline"></i>
                DIRECTIONS
            </a>
            <div class="list">
                <div class="card">
                    <div class="item item-divider">
                        STATUS : <b>{{ report.Status }}</b>
                    </div>
                    <div class="item item-text-wrap">
                        <label class="item item-input item-select" style="margin-top: 0px;">
                            <div class="input-label">Change status</div>
                            <select ng-model="report.Status" ng-change="changeStatus(report.Status)">
                                <option value="Created">Created</option>
                                <option value="Processing">Processing</option>
                                <option value="Completed">Completed</option>
                                <option value="Failure">Failure</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="card">
                    <div class="item item-divider">
                        DESCRIPTION
                    </div>
                    <div class="item item-text-wrap">
                        <p ng-if="!report.Description" class="information">User has not provided a description for this report.</p>
                        <p ng-if="report.Description" class="information">{{ report.Description }}</p>
                    </div>
                </div>
                <div class="card">
                    <div class="item item-divider">
                        CATEGORY
                    </div>
                    <div class="item item-text-wrap">
                        {{ report.Category.Name }}
                    </div>
                </div>
                <div class="card" ng-if="report.Details.CustomPropertyValues.length > 0">
                    <div class="item item-divider">
                        ADDITIONAL INFORMATION
                    </div>
                    <div class="item item-text-wrap">
                        <div ng-repeat="detail in report.Details.CustomPropertyValues">
                            <p class="information-title">{{ detail.CustomProperty.Name }}</p>
                            <p ng-if="detail.CustomProperty.CustomPropertyType == 'CheckBox' && detail.SerializedValue == 'True'" class="information">Yes</p>
                            <p ng-if="detail.CustomProperty.CustomPropertyType == 'CheckBox' && detail.SerializedValue == 'True'" class="information">No</p>
                            <p ng-if="detail.CustomProperty.CustomPropertyType == 'Field'" class="information">{{ detail.SerializedValue }}</p>
                        </div>
                        <br/>
                    </div>
                </div>
                <div class="card" ng-repeat="resource in report.Resources">
                    <div class="item item-divider">
                        <i class="ion ion-image"></i>
                        Resource # {{ resource.Id }}
                    </div>
                    <div class="item item-image">
                        <img ng-src="{{ resource.Base64 }}">
                    </div>
                </div>
            </div>
            <p class="warning-text">
                <span>
                    <i class="ion ion-alert-circled"></i>
                </span> Your location is being sent to the administrator.
            </p>
        </div>
        <div class="assignments-container" ng-if="!report">
            <p class="empty-warning">
                You aren't assigned to resolve any report currently.
            </p>
        </div>
    </ion-content>
</ion-view>
