<div id="shell" ui-view="shell"></div>
<div class="container main-container unit-details">
<div class="row header-row">
    <div class="col l3 m4 s8 offset-s2">
        <h2>Settings</h2>
    </div>
    <div class="col l1 m1 s1 offset-l8 offset-m7" style="text-align: right;">
        <a ng-href="/notifications" class="center">
            <i ng-if="!notificationAvailable" class="material-icons notification-icon">notifications</i>
            <i ng-if="notificationAvailable" style="color: #18C0D6;" class="material-icons notification-icon">notifications</i>
        </a>
    </div>
</div>
<div class="row">
<div class="col s12">
    <ul class="tabs" tabs ng-if="!unit.IsPublic">
        <li class="tab col s3"><a class="active" href="#general">General</a></li>
        <li class="tab col s3"><a href="#users">Users</a></li>
        <li class="tab col s3"><a href="#properties">Properties</a></li>
    </ul>
    <ul class="tabs" tabs ng-if="unit.IsPublic">
        <li class="tab col s6"><a class="active" href="#general">General</a></li>
        <li class="tab col s6"><a href="#properties">Properties</a></li>
    </ul>
</div>
<div id="general" class="col s12">
    <div class="report-details-title-container z-depth-1">
        <h2 class="center center-align centered center">
            {{ unit.Name }}
        </h2>
    </div>

    <div class="row">
        <div class="col s12">
            <form name="editUnitForm" role="form" novalidate>
                <div class="row" style="margin-top: 30px;">
                    <div class="input-field col l3 m3 s6">
                        <input id="unitName" name="unitName" type="text" ng-model="unitName" placeholder="Type a new name here" />
                    </div>
                    <div class="input-field col l3 m3 s6">
                        <a style="margin-top: 5px;" class="waves-effect waves-light btn white btn-gray-text center-align" ng-click="editUnit(unit.Id)" ng-disabled="editUnitForm.$invalid || editUnitForm.$pristine" ng-hide="unitName.length < 6 || !unitName || unitName.length > 50"><i class="material-icons left">save</i> SAVE</a>
                    </div>
                    <div class="input-field col l6 m6 s12 delete-button">
                        <a style="margin-top: 5px;" class="waves-effect waves-light btn red white-text center-align" ng-click="openUnitDeleteDialog()"><i class="material-icons left">delete</i>DELETE</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<div id="users" class="col s12">
    <ul class="collection user-collection">
        <li class="collection-item avatar" style="padding-left: 50px;" quick-ng-repeat="client in clients" quick-ng-repeat-list="clients">
            <div class="user-details">
                <img ng-src="{{ client.ProfilePhoto.Base64 }}" style="left: 0; top: 25px;" class="circle">
                <span class="cyan-text" style="position: relative; top: 14px; left: 0;">{{ client.UserName }}</span>
                <br/>
                <p class="grey-text">{{ client.Name }} {{ client.Surname }}</p>
            </div>
            <div class="secondary-content">
                <a ng-click="removeClient(client.Id)" class="waves-effect waves-light red white-text btn">Remove</a>
            </div>
        </li>
    </ul>
    <h5 class="grey-text">Add a new client</h5>
    <div class="row add-user">
        <div class="col s12">
            <div class="row">
                <form role="form" name="addUserForm" novalidate>
                    <div class="col l6 m6 s12">
                        <input 
                               id="userName" name="userName"
                               placeholder="User Name"
                               type="text"
                               ng-model="clientName"
                               ng-maxlength="50"
                               ng-change="getUserByUsername(clientName)"
                               required/>

                        <input 
                               id="clientKey" name="clientKey"
                               placeholder="User Key"
                               type="number"
                               ng-model="clientKey"
                               ng-minlength="6"
                               ng-maxlength="6"
                               ng-disabled="!userFromUserName.Id"
                               ng-change="verifyUserIdAndKey(clientKey)"
                               required/>

                        <button class="waves-effect waves-light btn center-align white-text" ng-click="addClient(unit.Id)" ng-disabled="addUserForm.$invalid || addUserForm.$pristine || !clientValid">
                            <i class="material-icons center-align">add</i>
                        </button>
                    </div>

                </form>
                <div class="col l6 m6 s12">
                    <ul class="collection user-collection" ng-show="userFromUserName.Id">
                        <li class="collection-item avatar" ng-if="userFromUserName.AccountType === 'Client' ">
                            <div class="user-details">
                                <img ng-src="{{ userFromUserName.ProfilePhoto.Base64 }}" class="circle">
                                <span class="cyan-text">{{ userFromUserName.UserName }}</span>
                                <br/>
                                <p class="grey-text">{{ userFromUserName.Name }} {{ userFromUserName.Surname }}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="properties" class="col s12 row-no-margin">
    <ul class="collapsible" data-collapsible="accordion" watch>
        <li>
            <div class="collapsible-header"><span style="font-weight: 500; color: #1599AB;">Categories</span></div>
            <div class="collapsible-body">
                <ul class="collection properties">
                    <li class="collection-item" ng-repeat="category in categories" ng-if="category.Name != 'Uncategorized'">
                        <div>
                            <span class="property-title">{{ category.Name }}</span>
                            <a href="#!" ng-click="removeCategory(category.Id)" class="secondary-content"><i class="material-icons">delete</i></a>
                        </div>
                    </li>
                </ul>
                <div class="row create-property" style="margin-left: 0;">
                    <form role="form" name="createCategoryForm" novalidate>
                        <div class="col l11 m11 s12">
                            <input id="categoryName" name="categoryName" placeholder="New category name" type="text" ng-model="categoryName" ng-minlength="3" ng-maxlength="25" required/>    
                        </div>
                        <div class="col l1 m1 s12 center">
                            <button href="#" class="btn-floating waves-effect waves-light" ng-click="addCategory(unit.Id, categoryName)" ng-disabled="createCategoryForm.$invalid || createCategoryForm.$pristine || isBusy">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </li>
        <li ng-click="refreshMap()">
            <div class="collapsible-header"><span style="font-weight: 500; color: #1599AB;">Locations</span></div>
            <div class="collapsible-body row-no-margin">
                <div class="row row-no-margin">
                    <div class="col s12">
                        <ul class="collection properties">
                            <li class="collection-item" ng-repeat="location in locations">
                                <div>
                                    <span class="property-title">{{ location.Name }}</span>
                                    <a href="#!" ng-click="removeLocation(location.Id)" class="secondary-content"><i class="material-icons">delete</i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row create-property" style="margin-left: 0; margin-bottom: 0;">
                    <form role="form" name="createLocationForm" novalidate>
                        <div class="col l12 m12 s12">
                            <input id="locationName" name="locationName" placeholder="New location name" type="text" ng-model="location.Name" ng-minlength="3" ng-maxlength="25" required/> 

                            <input id="locationLatitude" name="locationLatitude" placeholder="Latitude" type="text" ng-model="location.Latitude" required/>

                            <input id="locationLongitude" name="locationLongitude" placeholder="Longitude" type="text" ng-model="location.Longitude" required/>
                        </div>
                        <br/>
                        <div class="col s12" style="padding: 1em;">
                            <div class="row">
                                <div class="col l4 m4 s12">
                                    <div class="input-field col s12" style="margin-bottom: 20px;">
                                        <i class="material-icons prefix" style="position: absolute; top: 10px;">search</i>
                                        <input id="placesQuery" name="placesQuery"
                                               placeholder="Search locations"
                                               type="text"
                                               ng-model="placesQuery"
                                               ng-minlength="3"
                                               ng-maxlength="50"
                                               ng-change="queryPlaces(placesQuery)"/>
                                    </div>
                                    <br/>
                                    <br/>
                                    <p ng-show="places.length ">{{ places.length }} matching places</p>
                                    <ul class="collection" style="margin: 0;">
                                        <li class="collection-item avatar waves-block waves-effect waves-button-input"
                                            quick-ng-repeat="place in places"
                                            quick-repeat-list="places"
                                            ng-click="placeSelected(place)">
                                            <img src="/assets/img/location.png" alt="" class="circle">
                                            <span class="cyan-text">{{ place.name }}</span>
                                            <br/>
                                            <span class="grey-text">{{ place.formatted_address }}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col l8 m8 s12">
                                    <ui-gmap-google-map control="map.control"
                                                        center='map.center'
                                                        zoom='map.zoom'
                                                        styles="map.styles"
                                                        options="map.options"
                                                        style="height: 400px;"
                                                        events="map.events"
                                                        refresh="true">
                                        <ui-gmap-markers models="markers" coords="'self'" icon="'icon'" click="onMarkerClicked">
                                        </ui-gmap-markers>
                                    </ui-gmap-google-map>
                                </div>
                                <div class="col l12 m12 s12 center" style="margin-top: 30px;">
                                    <button href="#" class="btn-floating waves-effect waves-light" ng-click="addLocation(unit.Id, location)" ng-disabled="createLocationForm.$invalid || createLocationForm.$pristine">
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><span style="font-weight: 500; color: #1599AB;">Custom properties</span></div>
            <div class="collapsible-body">
                <ul class="collection properties">
                    <li class="collection-item" ng-repeat="customProperty in customProperties">
                        <div>
                            <span class="property-title">{{ customProperty.Name }}</span>
                            <a href="#!" ng-click="removeCustomProperty(customProperty.Id)" class="secondary-content"><i class="material-icons">delete</i></a>
                        </div>
                    </li>
                </ul>
                <div class="row create-property custom-property row-no-margin" style="margin-left: 0;">
                    <form role="form" name="createCustomPropertyForm" novalidate>
                        <div class="col l8 m8 s12">
                            <input placeholder="New custom property title" type="text" ng-model="customPropertyName" ng-minlength="3" ng-maxlength="25" required/> 
                        </div>
                        <div class="col l3 m3 s12">
                            <div class="input-field custom-property-type">
                                <select name="customPropertyType" class="" material-select watch ng-model="customPropertyType" required>
                                    <option value="" disabled selected style="font-size: 10px;">Property Type</option>
                                    <option value="Field">Field</option>
                                    <option value="CheckBox">Checkbox</option>
                                </select>
                            </div>
                        </div>
                        <div class="col l1 m1 s12 center-align">
                            <button href="#" class="btn-floating waves-effect waves-light" ng-click="addCustomProperty(unit.Id, customPropertyName, customPropertyType)" ng-disabled="createCustomPropertyForm.$invalid || createCustomPropertyForm.$pristine || isBusy">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </li>
    </ul>
</div>
</div>
</div>

<script type="text/ng-template" id="reportCreatedModal">
    <div class="report-modal">
        <h1>New report received!</h1>
        <ui-gmap-google-map control="notificationMap.control" center="notificationMap.center" zoom="notificationMap.zoom" styles="notificationMap.styles" options="notificationMap.options" refresh="true">
            <ui-gmap-marker options="{icon:'assets/img/notification-marker.png'}" coords="reportMarker" idkey="0">
            </ui-gmap-marker>
        </ui-gmap-google-map>
        <p>Submitted by <span>{{ arrivedReport.Creator.UserName }}</span> at <span>{{ arrivedReport.Timestamp | date: "HH:mma" }}</span></p>
        <div class="row">
            <div class="col l6 m6 s12">
                <a class="waves-effect waves-light white black-text btn" ng-click="closeThisDialog(0)">Dismiss</a>
            </div>
            <div class="col l6 m6 s12">
                <a ng-href="/report/{{ arrivedReport.Id }}" ng-click="closeThisDialog(0)" class="waves-effect waves-light btn details-button">Details</a>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="confirmDeleteModal">
    <div class="report-modal">
        <h1>Delete unit</h1>
        <p>By deleting this unit, all of its reports will be removed as well. Are you sure you want to delete this unit?</p>
        <div class="row">
            <div class="col l6 m6 s12">
                <a class="waves-effect waves-light white black-text btn" ng-click="closeThisDialog(0)">Cancel</a>
            </div>
            <div class="col l6 m6 s12">
                <a ng-click="deleteUnit(); closeThisDialog(0)" class="waves-effect waves-light btn red white-text">Yes</a>
            </div>
        </div>
    </div>
</script>

<audio id="notificationSound">
    <source src="/assets/sound/notification.mp3" type="audio/mpeg">
</audio>
