@model Emergy.Api.Models.PerformanceModel
@{
    ViewBag.Title = "Home";
}
<canvas id="bulletRainCanvas" style="position: absolute; top: 0; left: 0; z-index: 1000;"></canvas>
<script src="~/Content/kisaMetaka-0.3.1.min.js"></script>
<script type="text/javascript">
    $('#bulletRainCanvas').kisaMetaka({
        dropImage: '/Content/bullet2.png',
        numberOfDrops: 200,
        sound: '/Content/Konan',
        keys: [75, 77]
    });
</script>

<div style="height: 50px"></div>
<div class="row" style="margin:4em;">
    <div class="col-lg-12">
        <img class="img-responsive center-block" src="~/Content/api-icon.png"/>
    </div>
</div>

<div class="row center">
    <div class="col-sm-6">
        <div class="card center-block center" style="margin:0px auto;">
            <div class="content">
                <span class="title">CPU</span>
                <p>@Model.CpuUsage</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card center-block center" style="margin:0px auto;">
            <div class="content">
                <span class="title">RAM</span>
                <p>@Model.RamUsage</p>
            </div>
        </div>
    </div>
</div>

