<ion-view name="tab-messaging" view-title="Messaging">
    <ion-content class="padding has-header">
        <div class="messaging-container">
            <ul class="list">
                <li class="item" ng-click="openMessages('TestAdmin')">
                    <p>TestAdmin</p></li>
                <li class="item" ng-click="openMessages('TestAdmin')">
                    <p>TestAdmin</p></li>
                <li class="item" ng-click="openMessages('TestAdmin')">
                    <p>TestAdmin</p></li>
            </ul>
        </div>
    </ion-content>
</ion-view>
