<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://emergy-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>emergy-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>emergy-api</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>gboduljak</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Emergy.Data.Visual.EmergyDbVisualModelConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=eu-cdbr-azure-west-c.cloudapp.net;Initial Catalog=EmergyDb;User ID=b51a03a1f62d40;Password=74f2d157" Name="Database=EmergyDb;Data Source=eu-cdbr-azure-west-c.cloudapp.net;User Id=b51a03a1f62d40;Password=74f2d157" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Emergy.Data.Visual.EmergyDbVisualModelConnection, Emergy.Data" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Emergy.Data.Migrations.MySqlHistoryContext" Order="2" Enabled="False">
          <Destination Path="Data Source=eu-cdbr-azure-west-c.cloudapp.net;Initial Catalog=EmergyDb;User ID=b51a03a1f62d40;Password=74f2d157" Name="Database=EmergyDb;Data Source=eu-cdbr-azure-west-c.cloudapp.net;User Id=b51a03a1f62d40;Password=74f2d157" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Emergy.Data.Migrations.MySqlHistoryContext, Emergy.Data" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=eu-cdbr-azure-west-c.cloudapp.net;Initial Catalog=EmergyDb;User ID=b51a03a1f62d40;Password=74f2d157" Name="Database=EmergyDb;Data Source=eu-cdbr-azure-west-c.cloudapp.net;User Id=b51a03a1f62d40;Password=74f2d157" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Emergy.Data.Context.ApplicationDbContext, Emergy.Data" MigrationConfiguration="Emergy.Data.Migrations.Configuration, Emergy.Data" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Database=EmergyDb;Data Source=eu-cdbr-azure-west-c.cloudapp.net;User Id=b51a03a1f62d40;Password=74f2d157</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Emergy.Data.Migrations.MySqlHistoryContext-Web.config Connection String">
      <ParameterValue>Database=EmergyDb;Data Source=eu-cdbr-azure-west-c.cloudapp.net;User Id=b51a03a1f62d40;Password=74f2d157</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Emergy.Data.Visual.EmergyDbVisualModelConnection-Web.config Connection String">
      <ParameterValue>Database=EmergyDb;Data Source=eu-cdbr-azure-west-c.cloudapp.net;User Id=b51a03a1f62d40;Password=74f2d157</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Emergy.Data.Migrations.MySqlHistoryContext" />
    <_ConnectionStringsToInsert Include="Emergy.Data.Visual.EmergyDbVisualModelConnection" />
  </ItemGroup>
</Project>