<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!-- Home Tab -->
    <ion-tab title="Home" icon-off="ion-android-add" icon-on="ion-android-add" ui-sref="tab.home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <!-- Reports Tab -->
    <ion-tab title="Reports" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" ui-sref="tab.reports">
        <ion-nav-view name="tab-reports"></ion-nav-view>
    </ion-tab>
    <!-- Messages Tab -->
    <ion-tab title="Messaging" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes-outline" ui-sref="tab.messaging">
        <ion-nav-view name="tab-messaging"></ion-nav-view>
    </ion-tab>
    <!-- Assignments Tab -->
    <ion-tab title="Assignments" icon-off="ion-ios-flag-outline" icon-on="ion-ios-flag-outline" ui-sref="tab.assignments">
        <ion-nav-view name="tab-assignments"></ion-nav-view>
    </ion-tab>
</ion-tabs>