<div id="shell" ui-view="shell"></div>
<div class="container main-container messages">
    <div class="row header-row">
        <div class="col l8 m10 s8 offset-s2">
            <h2 style="font-size: 36px">Messages</h2>
        </div>
        <div class="col l1 m1 s1 offset-l3 offset-m1">
            <a ng-href="/dashboard/notifications" class="center">
                <i ng-if="!notificationAvailable" class="material-icons notification-icon">notifications</i>
                <i ng-if="notificationAvailable" style="color: #18C0D6;" class="material-icons notification-icon">notifications</i>
            </a>
        </div>
    </div>
    <div class="row messages-row" scroll-glue>
        <ul class="collection">
            <li class="collection-item" ng-repeat="message in messages">
                <span class="title">{{ message.Sender.UserName }}</span> - <span class="message-tim">{{ message.Timestamp | date: "h:mma" }}</span>
                <p>{{ message.Content }}</p>
            </li>
        </ul>
    </div>
    <div class="row send-message">
        <form role="form" name="sendMessageForm" novalidate>
            <div class="col l11 m11 s10">
                <input id="messaage" name="message" placeholder="Type your message here" type="text" ng-model="message" required/>
            </div>
            <div class="col l1 m1 s2">
                <button href="#" class="btn-floating waves-effect waves-light" ng-click="sendMessage(message)" ng-disabled="sendMessageForm.$invalid || initiateMessagingForm.$pristine">
                    <i class="material-icons">send</i>
                </button>
            </div>
        </form>
    </div>
</div>

<script type="text/ng-template" id="reportCreatedModal">
    <div class="report-modal">
        <h1>New report received!</h1>
        <ng-map disable-default-u-i="true" style="height: 200px;" center="{{ arrivedReport.Location.Latitude }}, {{ arrivedReport.Location.Longitude }}" zoom="16" styles="[{stylers:[{hue:'#18C0D6'},{visibility:'simplified'},{gamma:0.5},{weight:0.5}]},{featureType:'water',stylers:[{color:'#37474f'}]}]">
            <marker position="{{ arrivedReport.Location.Latitude }}, {{ arrivedReport.Location.Longitude }}">
        </ng-map>
        <p>Submitted by <span>{{ arrivedReport.Creator.UserName }}</span> at <span>{{ arrivedReport.Timestamp | date: "HH:mma" }}</span></p>
        <div class="row">
            <div class="col l6 m6 s12">
                <a class="waves-effect waves-light white black-text btn" ng-click="closeThisDialog(0)">Dismiss</a>
            </div>
            <div class="col l6 m6 s12">
                <a ng-href="/dashboard/report/{{ arrivedReport.Id }}" ng-click="closeThisDialog(0)" class="waves-effect waves-light btn details-button">Details</a>
            </div>
        </div>
    </div>
</script>