<div class="container login-register-container">
    <div class="row">
        <div class="col s12">
            <div class="register-card">
                <h5 class="center-align register-heading">Sign up here</h5>
                <form role="form" name="registerForm" class="col s12" novalidate>
                    <div class="input-field col s10 email">
                        <i class="material-icons prefix">email</i>
                        <input ng-class="{ 'valid' : registerFrom.email.$touched && registerForm.email.$valid, 'invalid' : registerForm.email.$touched && registerForm.email.$invalid }" name="email" id="email" placeholder="Your e-mail" ng-model="newUser.Email" ng-minlength=6 ng-maxlength=32 required type="email" ng-change="validateEmail()" />
                        <small class="validation" ng-show="registerForm.email.$touched && registerForm.email.$error.required">Email is required. <br /> </small>
                        <small class="validation" ng-show="registerForm.email.$touched && registerForm.email.$error.minlength">Email has to contain atleast 6 characters. <br /></small>
                        <small class="validation" ng-show="registerForm.email.$touched && registerForm.email.$error.maxlength">Email cannot be more than 32 characters long. <br /></small>
                        <small class="validation" ng-show="registerForm.email.$touched && registerForm.email.$error.email">Please enter a valid email. <br /></small>
                        <small class="validation" ng-show="(isEmailTaken && registerForm.email.$touched)">Email is already in use! <br /></small>
                    </div>
                    <div class="input-field col s10 username">
                        <i class="material-icons prefix">account_circle</i>
                        <input ng-class="{ 'valid' : registerFrom.userName.$touched && registerForm.userName.$valid, 'invalid' : registerForm.userName.$touched && registerForm.userName.$invalid }" name="userName" id="username" placeholder="Pick a username" ng-model="newUser.Username" ng-minlength=3 ng-maxlength=16 required type="text" ng-change="validateUserName()" />
                        <small class="validation" ng-show="registerForm.userName.$touched && registerForm.userName.$error.required">Username is required. <br /></small>
                        <small class="validation" ng-show="registerForm.userName.$touched && registerForm.userName.$error.minlength">Username has to contain atleast 3 characters. <br /></small>
                        <small class="validation" ng-show="registerForm.userName.$touched && registerForm.userName.$error.maxlength">Username cannot be more than 16 characters long. <br /></small>
                        <small class="validation" ng-show="(isUserNameTaken && registerForm.userName.$touched)">Username is already in use! <br /></small>
                        <small class="validation" ng-show="(isUserNameValid && registerForm.userName.$touched)">Username contains illegal characters! <br /></small>
                    </div>
                    <div class="input-field col s10 password">
                        <i class="material-icons prefix">vpn_key</i>
                        <input ng-class="{ 'valid' : registerFrom.password.$touched && registerForm.password.$valid, 'invalid' : registerForm.password.$touched && registerForm.password.$invalid }" name="password" id="password" placeholder="Your password" ng-model="newUser.Password" ng-minlength=8 ng-maxlength=64 required type="password" />
                        <small class="validation" ng-show="registerForm.password.$touched && registerForm.password.$error.required">Password is required.<br /></small>
                        <small class="validation" ng-show="registerForm.password.$touched && registerForm.password.$error.minlength">Password has to contain atleast 8 characters.<br /></small>
                        <small class="validation" ng-show="registerForm.password.$touched && registerForm.password.$error.maxlength">Password cannot be more than 64 characters long.<br /></small>
                    </div>
                    <div class="input-field col s10 confirm-password">
                        <i class="material-icons prefix">vpn_key</i>
                        <input name="confirmPassword" id="confirmPassword" placeholder="Confirm your password" ng-model="newUser.ConfirmPassword" ng-minlength=8 ng-maxlength=64 required password-verify="newUser.Password" type="password" />
                        <small class="validation" ng-show="registerForm.confirmPassword.$touched && registerForm.confirmPassword.$error.required">Password confirmation is required.<br /></small>
                        <small class="validation" ng-show="registerForm.confirmPassword.$touched && registerForm.confirmPassword.password-verify">Passwords don't match.<br /></small>
                        <small class="validation" ng-show="registerForm.confirmPassword.$error.passwordVerify">Password and Confirm Password have to be same.<br /></small>
                    </div>
                    <div class="input-field col s10 account-type">
                        <select name="accountType" class="" material-select watch ng-model="newUser.AccountType" required>
                            <option value="" disabled selected style="font-size: 10px;">Your account type</option>
                            <option value="Administrator">Administrator</option>
                            <option value="Client">Regular user</option>
                        </select>
                    </div>
                    <div vc-recaptcha on-success="setResponse(response)" key="'6LeuIBMTAAAAALw4UdVMvv9ECJlT_ggCFnAg5Iiv'" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0; width: 50%; margin-left: auto; margin-right: auto; margin-top: 20px;"></div>
                    <div class="col s12">
                        <button class="btn waves-effect waves-light register-button" ng-disabled="registerForm.$invalid || registerForm.$pristine || isBusy || !captchaIsValid || !isEmailTaken || !isUsernameTaken || userNameValid"
                                name="action" type="submit" ng-click="submitForm(newUser)">
                            Sign up
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>