<div class="container login-register-container">
    <div class="row">
        <div class="col s12">
            <div class="card medium register-card">
                <h5 class="center-align register-heading">Sign up here</h5>
                <form role="form" name="registerForm" class="col s12" novalidate>
                    <div class="input-field col s10 email">
                        <i class="material-icons prefix">email</i>
                        <input name="email" id="email" placeholder="Your e-mail" ng-model="newUser.Email" ng-minlength=6 ng-maxlength=32 required type="email"/>
                    </div>
                    <div class="input-field col s10 username">
                        <i class="material-icons prefix">account_circle</i>
                        <input name="userName" id="username" placeholder="Pick a username" ng-model="newUser.Username" ng-minlength=3 ng-maxlength=16 required type="text"/>
                    </div>
                    <div class="input-field col s10 password">
                        <i class="material-icons prefix">vpn_key</i>
                        <input name="password" id="password" placeholder="Your password" ng-model="newUser.Password" ng-minlength=8 ng-maxlength=64 required type="password"/>
                    </div>
                    <div class="input-field col s10 confirm-password">
                        <i class="material-icons prefix">vpn_key</i>
                        <input name="confirmPassword" id="confirmPassword" placeholder="Confirm your password" ng-model="newUser.ConfirmPassword" ng-minlength=8 ng-maxlength=64 required password-verify="newUser.Password" type="password"/>
                    </div>
                    <div class="input-field col s10 account-type">
                        <select name="accountType" class="" material-select watch ng-model="newUser.AccountType" required>
                            <option value="" disabled selected style="font-size: 10px;">Your account type</option>
                            <option value="Administrator">Administrator</option>
                            <option value="Client">Regular user</option>
                        </select>
                    </div>
                    <div class="col s12">
                        <button class="btn waves-effect waves-light register-button" ng-disabled="registerForm.$invalid || registerForm.$pristine"
                                name="action" type="submit" ng-click="submitForm(newUser)">
                            Sign up
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>